.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 37.2rem;
	height: 6.5rem;
	padding-right: 1em;
	padding-left: 1em;
	&:hover {
		cursor: pointer;
	}
	@include mq-down() {
		width: 100%;
		height: 11.2rem;
	}
	&.button--white {
		color: var(--key-color-black);
		background-color: white;
	}
	&.button--border {
		color: currentColor !important;
		border: 1px solid currentColor;
	}
}

.button__text {
	text-align: center;
	transition: opacity 0.25s ease-out;
	font-size: 1.6rem;
	@include mq-down() {
		font-size: 2.4rem;
	}
	.button:hover & {
		opacity: 0.75;
	}
}

.button__icon {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	fill: currentColor;
	transition: opacity 0.25s ease-out;
	@include mq-down() {
		right: 1.25em;
	}
	.button:hover & {
		opacity: 0.75;
	}
	&.button__icon--arrow {
		width: 1.45rem;
		@include mq-down() {
			width: 3rem;
		}
	}
}
