/* .Footer
   ========================================================================== */
.footer {
	position: relative;
	padding-top: 6.4rem;
	padding-right: 4.5rem;
	padding-left: 4.5rem;
	background-color: white;
	@include mq-down() {
		padding-right: 6.25vw;
		padding-left: 6.25vw;
	}
}

.footer__page-top {
	display: block;
	max-inline-size: max-content;
	margin-inline: auto;
	color: #000f3c;
}

.footer__page-top-arrow {
	transform: rotate(-90deg);
	width: 3.8rem;
	display: block;
	margin-right: auto;
	margin-left: auto;
	fill: currentColor;
	svg {
		transition: transform 0.25s ease-out;
		a:hover & {
			transform: translateX(0.35em);
		}
	}
}

.footer__page-top-text {
	display: block;
	margin-top: 0.35em;
	font-family: var(--font-serif);
	font-weight: 500;
	font-size: 1.7rem;
	line-height: 1.5;
}

.footer__links {
	width: 93rem;
	margin-top: 8.8rem;
	margin-right: auto;
	margin-left: auto;
}

.footer__links-big {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.footer__links-big-item {
	position: relative;
	height: 14rem;
	overflow: hidden;
}

.footer__links-big-item-content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	color: white;
}

.footer__links-big-item-title {
	text-align: center;
	> span {
		display: block;
	}
}

.footer__links-big-item-title-large {
	fill: currentColor;
	margin-right: auto;
	margin-left: auto;
	line-height: 0;
	&.footer__links-big-item-title--recruit {
		width: 10.5rem;
	}
	&.footer__links-big-item-title--movie {
		width: 7.9rem;
	}
}

.footer__links-big-item-title-small {
	margin-top: 0.25em;
	font-family: var(--font-serif);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.footer__links-big-item-icon {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(calc(100% + 1em), -50%);
	width: 3.5rem;
	fill: currentColor;
	svg {
		transition: transform 0.25s ease-out;
		a:hover & {
			transform: translateX(0.3em);
		}
	}
}

.footer__links-big-item-bg {
	transition: transform 0.25s ease-out;
	a:hover & {
		transform: scale(1.085);
	}
}

.footer__links-items {
	margin-top: 5.4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3rem;
}

.footer__links-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
	color: white !important;
	&.footer__links-item--entry {
		background-color: var(--key-color02);
	}
	&.footer__links-item--my-page {
		background-color: var(--key-color03);
	}
	&.footer__links-item--internship {
		background-color: var(--key-color04);
	}
}

.footer__links-item-title {
	line-height: 0;
	fill: currentColor;
	.footer__links-item--entry & {
		width: 7.7rem;
	}
	.footer__links-item--my-page & {
		width: 10rem;
	}
	.footer__links-item--internship & {
		width: 14.1rem;
	}
}

.footer__links-item-icon {
	width: 2.4rem;
	line-height: 0;
	position: absolute;
	top: 50%;
	right: 3.2rem;
	transform: translateY(-50%);
	z-index: 1;
	fill: currentColor;
	svg {
		transition: transform 0.25s ease-out;
		a:hover & {
			transform: translateX(0.3em);
		}
	}
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 15rem;
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;
	border-top: 1px solid #808080;
}

.footer__bottom-logo {
	width: 29rem;
}

.footer__bottom-links {
	font-size: 1.2rem;
	font-weight: 500;
	color: #808080;
	display: flex;
}

.footer__bottom-links__item {
	display: flex;
	align-items: center;
	& + &::before {
		content: "";
		display: inline-block;
		width: 1px;
		height: 1.1em;
		background-color: currentColor;
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}

.footer__copyright {
	text-align: right;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	color: #808080;
}
