/* .Footer
   ========================================================================== */
.footer {
	// display: none;
	position: relative;
	padding-top: 13rem;
	padding-right: 4.5rem;
	padding-left: 4.5rem;
	background-color: white;
	@include mq-down() {
		padding-top: 11.3rem;
		padding-right: var(--page-gutter);
		padding-left: var(--page-gutter);
	}
}

.footer__page-top {
	display: block;
	max-inline-size: max-content;
	margin-inline: auto;
	color: #000f3c;
}

.footer__page-top-arrow {
	transform: rotate(-90deg);
	width: 3.8rem;
	display: block;
	margin-right: auto;
	margin-left: auto;
	fill: currentColor;
	@include mq-down() {
		width: 6.9rem;
	}
	svg {
		transition: transform 0.25s ease-out;
		a:hover & {
			transform: translateX(0.35em);
		}
	}
}

.footer__page-top-text {
	display: block;
	margin-top: 0.35em;
	text-align: center;
	font-family: var(--font-serif);
	font-weight: 500;
	font-size: 1.7rem;
	line-height: 1.5;
	@include mq-down() {
		font-size: 2.4rem;
	}
}

.footer__menu {
	margin-top: 17.6rem;
	@include mq-down() {
		display: none;
	}
}

.footer__bottom {
	display: flex;
	gap: 4rem;
	justify-content: space-between;
	margin-top: 15rem;
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;
	border-top: 1px solid #808080;
	@include mq-down() {
		display: block;
		margin-top: 10rem;
		padding-top: 4.3rem;
		padding-bottom: 4rem;
	}
}

.footer__bottom-logo {
	width: 29rem;
	@include mq-down() {
		width: 42.2rem;
		margin-right: auto;
		margin-left: auto;
	}
}

.footer__bottom-links {
	display: flex;
	font-size: 1.2rem;
	font-weight: 500;
	color: #808080;
	@include mq-down(tb-md) {
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 80rem;
		margin-left: auto;
	}
	@include mq-down() {
		margin-top: 3em;
		justify-content: center;
		width: 100%;
		// width: 100vw;
		// margin-right: calc(50% - 50vw);
		// margin-left: calc(50% - 50vw);
	}
}

.footer__bottom-links__item {
	display: flex;
	align-items: center;
	font-family: var(--font-sans);
	@include mq-down() {
		font-size: 1.6rem;
		& + &:nth-of-type(3):before,
		& + &:nth-of-type(5):before {
			content: none;
		}
	}
	& + &::before {
		content: "";
		display: inline-block;
		width: 1px;
		height: 1.1em;
		background-color: currentColor;
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
}

.footer__copyright {
	text-align: right;
	font-family: var(--font-sans);
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	color: #808080;
	@include mq-down() {
		margin-top: 1em;
		font-size: 1.4rem;
		text-align: center;
	}
}
