/* Header
   ========================================================================== */

.header {
	position: fixed;
	justify-content: space-between;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--header-height);
	// background-color: white;
	z-index: 999;
	body.--scroll-bar-padding-active & {
		padding-right: var(--scroll-bar-width);
	}
}

.header__inner {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	width: 100%;
	height: 100%;
	// padding-right: 3rem;
	// padding-left: 3rem;
}

// .header__logo {
// 	width: 10vw;
// 	height: 2.66vw;
// 	@include mq-down() {
// 		width: 20vw;
// 		height: 5.32vw;
// 	}
// 	a {
// 		display: block;
// 	}
// 	svg {
// 		height: 2.66vw;
// 		@include mq-down() {
// 			height: 5.32vw;
// 		}
// 	}
// }

.header__menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--key-color-black);
	width: var(--header-height);
	height: 100%;
	.header__menu-button-icon {
		width: var(--header-menu-button-width);
		height: 1.9rem;
		position: relative;
		display: block;
		@include mq-down() {
			height: 3rem;
		}
		span {
			display: inline-block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: white;
			@include mq-down() {
				height: 0.2rem;
			}
		}
		span:nth-of-type(1) {
			top: 0;
			transition: top 0.175s 0.175s, transform 0.175s 0s;
		}
		// &.modal-active span:nth-of-type(1) {
		// 	top: 50%;
		// 	transform: rotate(45deg);
		// 	transition: top 0.175s 0s, transform 0.175s 0.175s;
		// }
		span:nth-of-type(2) {
			top: 50%;
			transition: opacity 0.175s 0.175s;
			transform: translateY(-50%);
		}
		// &.modal-active span:nth-of-type(2) {
		// 	opacity: 0;
		// 	transition: opacity 0.175s;
		// }
		span:nth-of-type(3) {
			top: 100%; // bottom 0 だとrotateアニメーションが微妙
			transform: translateY(-100%) scaleX(0.64); // top:100%ではみ出るので
			transform-origin: left;
			transition: transform 0.25s;
		}
		// &.modal-active span:nth-of-type(3) {
		// 	top: 50%;
		// 	transform: translateY(0) rotate(-45deg);
		// 	transition: top 0.175s 0s, transform 0.175s 0.175s;
		// }
	}
	&:hover {
		.header__menu-button-icon {
			span:nth-of-type(3) {
				transform: translateY(-100%) scaleX(1); // top:100%ではみ出るので
			}
		}
	}
}

.header__links {
	display: flex;
}

.header__link {
	display: flex;
	width: 13.5rem;
	height: 5rem;
	justify-content: center;
	text-align: center;
	transition: background-color 0.25s ease-out;
	@include mq-down() {
		width: 17rem;
		height: 7.6rem;
	}
	svg {
		fill: white;
		line-height: 0;
	}
	&.header__link--entry {
		background-color: var(--key-color-red);
		&:hover {
			background-color: #db3333;
		}
		svg {
			width: 6rem;
			@include mq-down() {
				width: 8rem;
			}
		}
	}
	&.header__link--mypage {
		background-color: var(--key-color-blue);
		&:hover {
			background-color: #164da5;
		}
		svg {
			width: 7.9rem;
			@include mq-down() {
				width: 10.5rem;
			}
		}
	}
	&.header__link--internship {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 16rem;
		height: 7.5rem;
		border-radius: 0 0 0 0.6rem;
		margin-left: 1rem;
		background-color: #558080;
		@include mq-down() {
			width: 17rem;
			height: 7.6rem;
			margin-left: 0;
			margin-right: 0;
			border-radius: 0;
			flex-direction: row;
		}
		&:hover {
			background-color: #6f9a9a;
		}
		svg {
			width: 11.1rem;
			@include mq-down() {
				width: 14.8rem;
			}
		}
	}
}

.header__link-text {
	margin-top: 0.85em;
	line-height: 1;
	font-size: 1rem;
	font-family: var(--font-sans);
	color: white;
	@include mq-down() {
		display: none;
	}
}
