.media {
	display: flex;
	justify-content: space-between;
	@include mq-down() {
		display: block;
	}
}

.media_text,
.media_image-wrap {
	width: calc(50% - 1.5rem);
	@include mq-down() {
		width: 100%;
	}
}