/* pop-up
   ========================================================================== */

.pop-up {
	max-width: 50%;
}

.pop-up__inner {
	padding: 2em;
	background-color: white;
}

.pop-up__body {
	// color: white;
}
