/* .to-top
   ========================================================================== */

.to-top {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	z-index: 9;
	width: 8.4rem;
	height: 8.4rem;
	background-color: rgba(0, 51, 131, 0.5);
	border-radius: 50%;
	transition: background-color 0.25s ease-out;
	&:hover {
		background-color: rgba(0, 51, 131, 0.85);
	}
	@include mq-down() {
		width: 10.7rem;
		height: 10.7rem;
	}
	body.--scroll-bar-padding-active & {
		margin-right: var(--scroll-bar-width);
	}
}

.to-top__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: white;
	width: 2.1rem;
	line-height: 0;
	@include mq-down() {
		width: 2.53rem;
	}
}
