/* utility
   ========================================================================== */

.active-tb-pc {
	display: initial;
	display: revert;
	@include mq-down() {
		display: none;
	}
}

.active-sp {
	display: none;
	@include mq-down() {
		display: initial;
		display: revert;
	}
}

.deactive-tb-sp {
	display: initial;
	display: revert;
	@include mq-down() {
		display: none;
	}
}

.negative-spacing- {
	letter-spacing: -0.0125em !important;
}

.negative-spacing-pc {
	letter-spacing: -0.0125em !important;
	@include mq-down() {
		letter-spacing: normal;
	}
}
.negative-spacing-sp {
	letter-spacing: normal;
	@include mq-down() {
		letter-spacing: -0.0125em !important;
	}
}

.fullscreen-pd-right-item {
	box-sizing: content-box;
}

.letter-spacing-pc-plus-0p0005 {
	letter-spacing: 0.005em !important;
	@include mq-down() {
		letter-spacing: normal !important;
	}
}

.letter-spacing-pc-plus-0p0025 {
	letter-spacing: 0.025em !important;
	@include mq-down() {
		letter-spacing: normal !important;
	}
}

.letter-spacing-pc-negative-0p0005 {
	letter-spacing: -0.005em !important;
	@include mq-down() {
		letter-spacing: normal !important;
	}
}

.letter-spacing-sp-plus-0p0005 {
	letter-spacing: normal !important;
	@include mq-down() {
		letter-spacing: 0.005em !important;
	}
}

.letter-spacing-sp-plus-0p001 {
	letter-spacing: normal !important;
	@include mq-down() {
		letter-spacing: 0.01em !important;
	}
}

.letter-spacing-sp-negative-0p0005 {
	letter-spacing: normal;
	@include mq-down() {
		letter-spacing: -0.005em;
	}
}

.letter-spacing-sp-negative-0p001 {
	letter-spacing: normal;
	@include mq-down() {
		letter-spacing: -0.01em;
	}
}
