/* .project-hero
   ========================================================================== */

.project-hero {
	position: relative;
}

.project-hero__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 3.25rem));
	width: 90.1rem;
	@include mq-down() {
		width: 49.2rem;
		transform: translate(-50%, calc(-50% - 1.75rem));
	}
	> span {
		display: block;
	}
}

.project-hero__title-en {
	width: 100%;
	@include mq-down() {
		width: 40.5rem;
		margin-right: auto;
		margin-left: auto;
	}
}

.project-hero__title-jp {
	position: relative;
	z-index: -1;
	width: 53.3rem;
	margin-top: -2.25rem;
	margin-right: auto;
	margin-left: auto;
	@include mq-down() {
		margin-top: -2rem;
		width: 100%;
	}
}
