extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "person03"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.person-hero
			h2.person-hero__title
				+picture({filename:'person03-hero-title'},{type:'svg',fallbackType:''},{alt:'施設の立ち上げという困難な業務に携われる喜び'},{classes:['']},{width:'523'},{height:'223'},{breakpoint:true},{lazyload:false},{retina:false})
			.person-hero__data
				p.person-hero__data-label
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					span
						| 03
				p.person-hero__data-name
					span.person-hero__data-name-jp
						| 柴田 優香
					span.person-hero__data-name-en
						| YUKA SHIBATA
				p.person-hero__data-text
					| ビジネスソリューション事業推進本部
					br
					| ミクストシーングループ１
					br
					| 総合職　2019年入社
			.person-hero__bg
				+picture({filename:'person03-hero'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:true},{lazyload:false},{retina:true})

		section.person-lead(data-scroll-reveal-group)
			.person-lead__text
				p.person-lead__lead(data-scroll-reveal-group-item)
					| MFBMに入社を決めた理由
				h2.person-lead__title(data-scroll-reveal-group-item)
					| 変革を恐れない企業で働きたい。
					br
					| それがMFBMを選んだ理由
			
				.person-lead__body(data-scroll-reveal-group-item)
					p
						| 就職活動中、こだわったのは業界でも職種でもありません。目指したのは確かな事業基盤を持ちつつ、その地位に甘んじることなく自己変革に挑もうとしている会社。
						br
						span.letter-spacing-sp-plus-0p0005 変化を恐れずファイティングポーズを取り続けている会社なら、どれだけ時代が変わったとしても顧客に必要とされる存在であり続けられると考えたからです。

					p
						| 「変革」を掲げる企業の中でMFBMがベストだと思ったのは「ビジネスシーンの明日を変えていく」というブランドビジョンのもと、快適なオフィスビルの維持管理に加え、賑わいのある街づくりやテナント企業をサポートするビジネスソリューションの提供によって、オフィスのあり方や働き方そのものをアップデートしようとしていたからです。そうした取り組みの数々を知ったとき、私もこの変革の輪に加わりたいと思いました。それがMFBMを選んだ理由です。

			.person-lead__photo(data-scroll-reveal-group-item)
				+picture({filename:'person03-image-01'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'450'},{height:'586'},{breakpoint:true},{lazyload:true},{retina:true})
				

		section.person-middle
			.person-middle__header(data-scroll-reveal-group)
				p.person-middle__header-lead(data-scroll-reveal-group-item)
					| 現在の仕事内容
				h2.person-middle__header-title(data-scroll-reveal-group-item)
					| 完成をイメージしながら
					br
					| 課題と向き合い
					br.active-sp
					| 施設の新規立ち上げに臨む
			
				.person-middle__header-body(data-scroll-reveal-group-item)
					p
						| 今、私が所属するミクストシーングループには、コワーキングスペースやフィットネス施設などの運営、イベント企画、オフィススタッフのアウトソーシングなどを手掛けるチームがあり、私は貸ホールや貸会議室の運営や立ち上げに携わっています。任せてもらっている主な担当は、三井不動産グループが保有するホール&カンファレンスの統括運営と2023年3月に開業する東京ミッドタウン八重洲内に開設予定のカンファレンス施設の新規立ち上げです。
					p
						| とりわけ新規立ち上げにおいては、オペレーション設計やスタッフ集め、設備や什器の購入、工事の発注、進捗管理、広報や営業のすべてに関わるため、各方面との調整に苦労を強いられることも少なくありません。しかしオーナーの願いや自分のアイデアが詰まった施設を完成に導くために避けて通れない障害であれば喜んで立ち向かいます。重ねた努力は裏切りませんし、数々の困難を乗り越えた先にこそ大きな喜びがあるのを知っているからです。
			
			.person-middle__body(data-scroll-reveal-group)
				.person-middle__body-text
					p.person-middle__body-lead(data-scroll-reveal-group-item)
						| 今後どのようなことに挑戦していくのか
					h2.person-middle__body-title(data-scroll-reveal-group-item)
						| 若手を信じて任せ、
						br
						| サポートする企業だから
						br
						| 交渉力や調整力が身についた
				
					.person-middle__body-body(data-scroll-reveal-group-item)
						p
							| 今後グループの総力を結集した街づくりへの取り組みがますます増えていきます。ホール＆カンファレンスの運営や立ち上げに携わる者の一人として挑戦したいのは、こうした全社的な動きと足並みを揃え、街で働く人々、街に訪れる人々にとって過ごしやすい場所を一つでも多く実現すること。
						p
							| 新入社員時代は自分に何ができるかわからなかった私が、交渉力や調整力を身につけ、大型施設の新規立ち上げを任せてもらえるまでになったのは、MFBMが若手を信じて任せサポートする会社だからにほかなりません。
							br
							| 自分が発見した課題を自ら手で解決したい人にとって、これほどやりがいを感じられる会社はほかにないと思えるほど、多くのチャンスに恵まれています。私自身もアグレッシブで前向きな先輩たちを見習って、これからも成長の手応えを感じられるようチャレンジを続けるつもりです。

				.person-middle__body-photo(data-scroll-reveal-group-item)
					+picture({filename:'person03-image-02'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'467'},{height:'420'},{breakpoint:true},{lazyload:true},{retina:true})

		section.person-schedule(data-scroll-reveal-group)
			h2.person-schedule__title(data-scroll-reveal-group-item)
				| Oneday Schedule

			.person-schedule__list-wrapper(data-scroll-reveal-group-item)

				ul.person-schedule__list(data-scroll-reveal-group-item) 
					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 10:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 業務開始
							p.person-schedule__list-item-text-body
								| 本日のスケジュールを確認。昨日の帰社後にお問い合わせいただいた内容にメールやチャットで返信を送る。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 10:30
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 三井不動産や協力会社と打ち合わせ
							p.person-schedule__list-item-text-body
								| 課題や今後との取り組みを共有。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 11:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 現場立ち会い
							p.person-schedule__list-item-text-body
								| 工事の進捗状況確認と工事関係者との打ち合わせを兼ねて現場へ足を運ぶ。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 12:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 昼食
							p.person-schedule__list-item-text-body
								| 協力会社の担当者や同僚とともに昼食をとる。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 13:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| プレゼンテーション準備
							p.person-schedule__list-item-text-body
								| 午後に予定されているプレゼン用の資料の内容をチェック。本番に備える。

				ul.person-schedule__list(data-scroll-reveal-group-item)

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 13:30
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 定例ミーティング
							p.person-schedule__list-item-text-body
								| 業務改善プロジェクトの定例ミーティングに参加。職場環境の改善策について話し合う。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 15:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| プレゼンテーション
							p.person-schedule__list-item-text-body
								| 担当するホールの運営責任者に対し来期に向けた営業施策を提案する。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 17:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 資料・報告書作成
							p.person-schedule__list-item-text-body
								| プレゼン資料や報告書のための数字を集計。書類にまとめる。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 18:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| チームメンバーと打ち合わせ
							p.person-schedule__list-item-text-body
								| タスクの進捗状況を共有。今後に向け作業上の課題について話し合う。

					li.person-schedule__list-item
						p.person-schedule__list-item-time
							span.person-schedule__list-item-time-text
								| 19:00
						.person-schedule__list-item-text
							h3.person-schedule__list-item-text-title
								| 業務終了
							p.person-schedule__list-item-text-body
								| 明日のスケジュールを確認し帰宅。

			.person-schedule__sp-more(data-scroll-reveal-group-item)
				.person-schedule__sp-more-icon
					<?xml version="1.0" encoding="UTF-8"?>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.01 33">
								<g>
									<path d="m2,4c-.52,0-1.04-.22-1.41-.59-.09-.09-.18-.19-.25-.3-.07-.11-.13-.23-.18-.35-.05-.12-.09-.24-.12-.37-.02-.13-.03-.26-.03-.39C.01,1.47.22.95.59.58c.09-.09.19-.17.3-.25.11-.07.23-.13.35-.18.12-.05.25-.09.37-.11C1.87-.01,2.14-.01,2.39.04c.13.02.26.06.38.11.12.05.24.11.34.18.11.08.22.16.31.25.37.37.58.89.58,1.42,0,.13-.01.26-.04.39-.02.13-.06.25-.11.37-.05.12-.11.24-.18.35-.08.11-.16.21-.25.3-.09.09-.2.18-.31.25-.1.07-.22.13-.34.18-.12.05-.25.09-.38.12-.12.02-.26.04-.39.04Z"/>
									<path d="m0,21.33c0-1.1.9-2,2-2h0c1.11,0,2.01.9,2.01,2h0c0,1.1-.9,2-2.01,2h0c-1.1,0-2-.9-2-2Zm0-9.67c0-1.1.9-2,2-2h0c1.11,0,2.01.9,2.01,2h0c0,1.11-.9,2-2.01,2h0c-1.1,0-2-.89-2-2Z"/>
									<path d="m2.01,33c-.53,0-1.05-.22-1.42-.59-.37-.37-.59-.89-.59-1.41s.22-1.04.59-1.42c.74-.74,2.09-.74,2.83,0,.09.1.17.2.25.31.07.11.13.22.18.34.05.12.09.25.12.38.02.13.03.26.03.39,0,.53-.21,1.04-.58,1.41-.09.09-.2.18-.31.25-.1.07-.22.13-.34.18-.12.05-.25.09-.37.12-.13.02-.26.04-.39.04Z"/>
								</g>
						</svg>
				button.person-schedule__sp-more-button
					span.person-schedule__sp-more-button-text
						| more
					span.person-schedule__sp-more-button-icon
		section.person-message
			.person-message__photo(data-scroll-reveal) 
				+picture({filename:'person03-image-03'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'580'},{breakpoint:true},{lazyload:true},{retina:true})
			.person-message__text(data-scroll-reveal-group="fade-up")
				.person-message__text-inner
					p.person-message__text-lead(data-scroll-reveal-group-item)
						| 学生の皆さんにメッセージ
					h2.person-message__text-title(data-scroll-reveal-group-item)
						| 多様な選択肢から
						br
						| ベストと思える仕事を
						br.active-sp
						| 選んでください
					.person-message__text-body(data-scroll-reveal-group-item)
						p
							| MFBMにはオフィスビル経営を支えるPMだけでなく、私たちのようなオフィス用途以外の施設運営や立ち上げに携わるメンバーもいれば、イベント企画に携わるメンバー、テナント企業の皆さんの業務効率化や社員の福利厚生のための商材を販売する営業もおり非常に多彩です。さまざまな可能性を前に悩みは尽きないと思いますが、選択肢の多さは人生の幅を広げます。
							br
							| せっかくの機会ですからたくさんの企業の中から自分に合う会社を見つけてください。それがMFBMなら嬉しいですし、私たちも皆さんに選んでいただけるよう、これからも快適で働きやすい職場環境づくりに頑張って取り組んでいくつもりです。
				.person-message__text__border-top
				.person-message__text__border-bottom

		section.person-slider(data-scroll-reveal-group)
			h2.person-slider__title(data-scroll-reveal-group-item)
				| NEXT PERSON 
			a(href=root_path + "person/" data-scroll-reveal-group-item).person-slider__back-to-index
				| PERSON一覧へ戻る
			.person-slider__content(data-scroll-reveal-group-item)
				button.person-slider__prev(data-slider-prev)
					.person-slider__prev-icon
				button.person-slider__next(data-slider-next)
					.person-slider__next-icon
				.swiper 
					.swiper-wrapper
						include ../include/_person-index-content.pug
