extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "person"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.sub-index-header
			h2.sub-index-header__title
				span.sub-index-header__title-en.sub-index-header__title-en--person
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
				span.sub-index-header__title-jp
					| 働く人を知る

		.person-index
			include ../include/_person-index-content.pug
