/* .person-middle
   ========================================================================== */

.person-middle {
	margin-top: 13.6rem;
	@include mq-down() {
		margin-top: 14rem;
	}
}

.person-middle__header {
	width: var(--content-width);
	margin-right: auto;
	margin-left: auto;
}

.person-middle__header-lead {
	text-align: center;
	line-height: 1.3;
	font-family: var(--font-sans-yakuhan-all);
	font-size: 1.7rem;
	text-decoration: underline;
	text-underline-offset: 0.6em;
	color: var(--key-color-blue);
	@include mq-down() {
		font-size: inherit;
	}
	body.page-person01 & {
		color: var(--person-01-color);
	}
	body.page-person02 & {
		color: var(--person-02-color);
	}
	body.page-person03 & {
		color: var(--person-03-color);
	}
	body.page-person04 & {
		color: var(--person-04-color);
	}
	body.page-person05 & {
		color: var(--person-05-color);
	}
}

.person-middle__header-title {
	margin-top: 1.5em;
	text-align: center;
	line-height: calc(52 / 38);
	font-family: var(--font-serif-yakuhan-all);
	font-size: 3.8rem;
	@include mq-down() {
		line-height: calc(68 / 42);
		font-size: 4.2rem;
	}
}

.person-middle__header-body {
	margin-top: 3.5em;
	text-align: justify;
	line-height: calc(34 / 16);
	font-family: var(--font-sans-yakuhan-all);
	font-weight: 300;
	@include mq-down() {
		margin-top: 2em;
		padding-right: var(--page-gutter);
		padding-left: var(--page-gutter);
		line-height: calc(52 / 26);
		font-size: 2.5rem;
	}
	p + p {
		margin-top: 2.25em;
	}
}

.person-middle__body {
	margin-top: 13rem;
	display: flex;
	flex-direction: row-reverse;
	gap: 10rem;
	width: var(--content-width);
	margin-right: auto;
	margin-left: auto;
	@include mq-down() {
		display: block;
	}
}

.person-middle__body-text {
	position: relative;
	width: 55rem;
	padding-top: 7.4rem;
	padding-bottom: 8.6rem;
	color: white;
	@include mq-down() {
		width: calc(100% - var(--page-gutter));
		margin-left: auto;
		padding-top: 9rem;
		padding-right: var(--page-gutter);
		padding-bottom: 33.7rem;
		padding-left: 7rem;
		// background: linear-gradient(
		// 	60deg,
		// 	rgba(11, 96, 107, 1) 6%,
		// 	rgba(1, 54, 129, 1) 94%
		// );
		body.page-person01 & {
			background-color: var(--person-01-color);
		}
		body.page-person02 & {
			background-color: var(--person-02-color);
		}
		body.page-person03 & {
			background-color: var(--person-03-color);
		}
		body.page-person04 & {
			background-color: var(--person-04-color);
		}
		body.page-person05 & {
			background-color: var(--person-05-color);
		}
	}
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		right: calc((100vw - var(--content-width)) / -2);
		width: calc(100% + ((100vw - var(--content-width)) / 2) + 31.3rem);
		height: 100%;
		// background: linear-gradient(
		// 	60deg,
		// 	rgba(9, 85, 113, 1) 14%,
		// 	rgba(2, 57, 128, 1) 86%
		// );
		body.page-person01 & {
			background-color: var(--person-01-color);
		}
		body.page-person02 & {
			background-color: var(--person-02-color);
		}
		body.page-person03 & {
			background-color: var(--person-03-color);
		}
		body.page-person04 & {
			background-color: var(--person-04-color);
		}
		body.page-person05 & {
			background-color: var(--person-05-color);
		}
		@include mq-down() {
			content: none;
		}
	}
}

.person-middle__body-lead {
	line-height: 1.3;
	font-family: var(--font-sans-yakuhan-all);
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: 0.6em;
}

.person-middle__body-title {
	margin-top: 1.5em;
	font-size: 3.7rem;
	line-height: calc(52 / 37);
	white-space: nowrap;

	@include mq-down() {
		font-size: 4.1rem;
		line-height: calc(68 / 41);
	}
}

.person-middle__body-body {
	margin-top: 3.5em;
	text-align: justify;
	line-height: calc(34 / 16);
	font-family: var(--font-sans-yakuhan-all);
	font-weight: 300;
	@include mq-down() {
		margin-top: 2.5em;
		line-height: calc(52 / 26);
	}
	p + p {
		margin-top: 2.5em;
	}
}

.person-middle__body-photo {
	position: relative;
	z-index: 1;
	width: 46.7rem;
	flex-shrink: 0;
	margin-top: 7.4rem;
	margin-left: -11.8rem;
	@include mq-down() {
		// transform: translateY(-50%);
		margin-top: -25rem;
		margin-left: 0;
	}
}
