/* .business-fields
   ========================================================================== */

.business-fields {
	position: relative;
	margin-top: 8rem;
	margin-right: auto;
	margin-left: auto;
	width: var(--content-width);
	padding-bottom: 20.8rem;
	@include mq-down() {
		margin-top: 12.2rem;
		padding-bottom: 16.6rem;
	}
}

.business-fields__title-pc {
	position: absolute;
	top: 5.4rem;
	width: 47.8rem;
	line-height: 0;
	@include mq-down() {
		display: none;
	}
}

.business-fields__container {
	display: grid;
	grid-template-columns: 328fr 630fr;
	gap: 5.1rem;
	@include mq-down() {
		display: block;
	}
}

.business-fields__navigation {
	margin-top: 13.6rem;
	@include mq-down() {
		margin-top: 12rem;
		padding-right: var(--page-gutter);
		padding-left: var(--page-gutter);
	}
}

.business-fields__navigation-button {
	position: relative;
	display: block;
	width: 100%;
	border-radius: 3rem;
	line-height: 6rem;
	font-family: var(--font-sans);
	font-size: 1.7rem;
	font-weight: 600;
	color: white;
	border: 0.15rem solid transparent;
	transition: border-color 0.25s ease-out, background-color 0.25s ease-out,
		color 0.25s ease-out;
	@include mq-down() {
		font-size: inherit;
		border-radius: 4.5rem;
		line-height: 9rem;
	}
	& + & {
		margin-top: 3rem;
	}
	&[data-modal-trigger="building"] {
		background-color: var(--business-color-blue);
		&:hover,
		&.--hover {
			background-color: white;
			color: var(--business-color-blue);
			border-color: var(--business-color-blue);
		}
	}
	&[data-modal-trigger="solution"] {
		background-color: var(--business-color-red);
		&:hover,
		&.--hover {
			background-color: white;
			color: var(--business-color-red);
			border-color: var(--business-color-red);
		}
	}
	&[data-modal-trigger="management"] {
		background-color: var(--business-color-green);
		&:hover,
		&.--hover {
			background-color: white;
			color: var(--business-color-green);
			border-color: var(--business-color-green);
		}
	}
}

.business-fields__navigation-button-icon {
	position: absolute;
	top: 52%;
	right: 2.2rem;
	width: 1.7rem;
	transform: translateY(-50%) rotate(90deg);
	fill: currentColor;
	@include mq-down() {
		right: 3.6rem;
		width: 2.4rem;
	}
}

.business-fields__map {
	--containerWidth: 637.9046;
	--containerHeight: 503.1534;
	position: relative;
	aspect-ratio: var(--containerWidth) / var(--containerHeight);
	@supports not (aspect-ratio: var(--containerWidth) / var(--containerHeight)) {
		padding-top: calc((var(--containerHeight) / var(--containerWidth)) * 100%);
		height: 0;
	}
	@include mq-down() {
		margin-top: 12.2rem;
		margin-left: -3.25%;
		margin-right: -3.25%;
	}
	svg {
		line-height: 0;
	}
}

#management,
#solution,
#building {
	pointer-events: none;
}

#management-hover,
#solution-hover,
#building-hover {
	opacity: 0;
	transition: opacity 0.25s ease-out;
	cursor: pointer;
	&:hover,
	&.--hover {
		opacity: 1;
	}
}

/*
あたり判定のこともあり、インラインSVGにしたので、座標配置はスマホのアイコンだけになった
*/

// #solution-hover {
// 	#solution:hover + & {
// 		opacity: 1;
// 	}
// }

.business-fields__map-triggers-and-over-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	button {
		position: absolute;
		display: block;
		opacity: 0;
		&[data-modal-trigger="building"] {
			left: containerRatio(118.7983, var(--containerWidth));
			top: containerRatio(6.5802, var(--containerHeight));
			width: containerRatio(399.3151, var(--containerWidth));
			z-index: 1;
			-webkit-clip-path: url(#building-mask);
			clip-path: url(#building-mask);
		}
		&[data-modal-trigger="management"] {
			left: containerRatio(3.5009, var(--containerWidth));
			top: containerRatio(48.2742, var(--containerHeight));
			width: containerRatio(630.9036, var(--containerWidth));
			-webkit-clip-path: url(#management-mask);
			clip-path: url(#management-mask);
		}
		&[data-modal-trigger="solution"] {
			left: containerRatio(367.6026, var(--containerWidth));
			top: containerRatio(3.5, var(--containerHeight));
			width: containerRatio(224.1586, var(--containerWidth));
			-webkit-clip-path: url(#solution-mask);
			clip-path: url(#solution-mask);
		}
	}
	> picture img {
		position: absolute;
		display: block;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.25s ease-out;
		&[src*="building-hover"] {
			left: containerRatio(118.7778, var(--containerWidth));
			top: containerRatio(6.5928, var(--containerHeight));
			width: containerRatio(399.3152, var(--containerWidth));
			// z-index: -1;
		}
		&[src*="management-hover"] {
			left: containerRatio(0, var(--containerWidth));
			top: containerRatio(44.75, var(--containerHeight));
			width: containerRatio(637.9037, var(--containerWidth));
			z-index: 1;
		}
		&[src*="solution-hover"] {
			left: containerRatio(365.6379, var(--containerWidth));
			top: containerRatio(0, var(--containerHeight));
			width: containerRatio(229.6047, var(--containerWidth));
			z-index: 2; // 調整
		}
	}
	button:hover + picture img,
	button.--hover + picture img {
		opacity: 1;
	}
}

.business-fields__map-default-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	img {
		position: absolute;
		display: block;
		&[src*="building"] {
			left: containerRatio(118.7983, var(--containerWidth));
			top: containerRatio(6.5802, var(--containerHeight));
			width: containerRatio(399.3151, var(--containerWidth));
		}
		&[src*="management"] {
			left: containerRatio(3.5009, var(--containerWidth));
			top: containerRatio(48.2742, var(--containerHeight));
			width: containerRatio(630.9036, var(--containerWidth));
			z-index: 1;
		}
		&[src*="solution"] {
			left: containerRatio(367.6026, var(--containerWidth));
			top: containerRatio(3.5, var(--containerHeight));
			width: containerRatio(224.1586, var(--containerWidth));
			z-index: 2; // 調整
		}
	}
}

.business-fields__sp-map-icons {
	display: none;
	@include mq-down() {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 3;
		img {
			position: absolute;
			display: block;
			transition: opacity 0.25s ease-out;
			&[src*="building"] {
				left: containerRatio(276, var(--containerWidth));
				top: containerRatio(170, var(--containerHeight));
				width: containerRatio(73, var(--containerWidth));
			}
			&[src*="management"] {
				left: containerRatio(276, var(--containerWidth));
				top: containerRatio(355, var(--containerHeight));
				width: containerRatio(73, var(--containerWidth));
			}
			&[src*="solution"] {
				left: containerRatio(440, var(--containerWidth));
				top: containerRatio(-38, var(--containerHeight));
				width: containerRatio(73, var(--containerWidth));
				z-index: 1; // 調整
			}
			&.--hover {
				opacity: 0;
			}
		}
	}
}
