
//- include _mixin_preload.pug
include _mixin_picture.pug

doctype html
block vars
html(lang="ja")
	include _head.pug

	block append preload

	body.contents-hidden(class="page-" + key)
		#content

			#to-top

			if key != "index_test"
			
				include _header.pug

				include _modal-menu.pug

			block contents

			if key != "top" && key != "index_test"
				a(href="#to-top").to-top
					.to-top__icon 
						svg(aria-label="↑" viewBox="0 0 56 32")
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')

			if key != "index_test"
				include _footer.pug
			

	include _script.pug

	block append script