
-
	var menu = {
		top : {
			link : `${root_path}`,
			title : 'TOP',
			title_jp: 'トップ'
		},
		subpage : {
			link : `${root_path}subpage.html`,
			title : 'SUB PAGE',
			title_jp: 'サブページ',
			title_jp: 'サブページ'
		}
	}