

-
	var root_path = '/'
	var assets_path = 'assets/' // 外部ファイルのルートパス（wpでは置き換え：<?php echo get_template_directory_uri(); ?>）
	var image_dir = 'images/'
	var js_dir = 'js/'
	var video_dir = 'videos/'
	var css_dir = 'css/'
	var libs_dir = 'libs/'
	var favicon_dir = 'assets/favicon/'
	var android_icon = 'android-chrome-192x192.png'
	var apple_icon = 'apple-touch-icon.png'
	var favicon = 'favicon.ico'
	var og_image = ''
	var twitter_card = ''
	var domain = ''
	var g_page_title = 'サイトタイトル'
	var g_page_description = '90文字程度。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章'
	var g_page_keywords = 'キーワード1,キーワード2'
	var version = '?ver=200101'

-
	var pages = {
		top : {
			url : '/',
			title : `Top | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		subpage : {
			url : '/subpage.html',
			title : `Subpage | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		}
	}