extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "about"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.sub-index-header
			h2.sub-index-header__title
				span.sub-index-header__title-en.sub-index-header__title-en--about
					svg(aria-label="ABOUT" viewBox="0 0 143 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-about')
				span.sub-index-header__title-jp
					| MFBMを知る

		include ../include/_about-index-content.pug
