extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "about01"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.about-hero
			.about-hero__content
				h2.about-hero__title
					span.about-hero__title-en
						svg(aria-label="ABOUT" viewBox="0 0 143 32")
							use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-about')
					span.about-hero__title-jp
						| MFBMの役割
			.about-hero__bg
				+picture({filename:'about-01-hero-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'355'},{breakpoint:true},{lazyload:false},{retina:true})


		section.about-header
		
			h2.about-header__title(data-scroll-reveal)
				| 三井不動産グループの
				br
				| 中核企業として
				br
				| ビジネスシーンから未来を変革します。

		section.about-lead

			.about-lead__content

				.about-lead__image-01(data-scroll-reveal)
					+picture({filename:'about-01-image-01'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'547'},{height:'989'},{breakpoint:false},{lazyload:true},{retina:true})

				.about-lead__body(data-scroll-reveal)
					.about-lead__text
						p
							| 私たち三井不動産ビルマネジメントは、
							br
							| プロパティマネジメントという言葉が
							br.active-sp
							| 業界で浸透する以前から、
							br
							|	オフィスビルの収益最大化を目的とした
							br.active-sp
							| ビル経営事業に関わる
							br
							| すべての業務を実践し地位を確立してきました。
						
						p
							| 社会・経済環境が目まぐるしく変化する現代においては、
							br
							| ビル経営事業でこれまでに培ってきた
							br.active-sp
							| ノウハウを活かしつつ、
							br
							| 「新たな価値」を創出・提供することで、
							br
							| オフィスビルからビジネスシーンの未来を創造する
							br
							| 挑戦と変革を続けています。


					.about-lead__chart(data-scroll-reveal)
						+picture({filename:'about-01-image-02'},{type:'webp',fallbackType:'png'},{alt:'三井不動産グループ'},{classes:['']},{width:'427'},{height:'437'},{breakpoint:true},{lazyload:true},{retina:true})

		section.about01-middle
		
			.about01-middle__container
			

				h3.about01-middle__title-en(data-scroll-reveal)
					+picture({filename:'about-01-title-our-advantage'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'833'},{height:'164'},{breakpoint:false},{lazyload:true},{retina:false})


				.about01-middle__container__inner

					h3.about01-middle__title-jp(data-scroll-reveal)
						| 年月を経るたびに魅力を増す
						br
						| マネジメントのチカラ。

					.about01-middle__body(data-scroll-reveal)
						p
							| 「不動産事業」は大きく分けると「開発・流通・マネジメント」の3つに分けることができます。
						p
							| 「開発」はディベロッパーと呼ばれる企業が担う役割。開発計画を立て、土地を取得し、ビルやマンションなどを、実際に建築・開発していきます。「流通」は建てられた物件の売買、賃貸を行います。「マネジメント」は開発、流通のあと「物件の経営・運営・管理」を幅広く担う役割となります。「マネジメント」の領域はオフィスビルがその役目を終えるまで行う事業となるため、当然オフィスビルに関わるオーナー、テナントとのつながりも深く、長く、強いものとなります。

					h4.about01-middle__title-middle(data-scroll-reveal)
						| 物件は建物が完成したあとが非常に重要になる

					.about01-middle__body(data-scroll-reveal)
						p
							| 不動産は数十年にわたり長い期間利用されるものです。「開発」の時点で描いた将来像と、時間が経過したあとに求められるものは、必ずしも一致するものではありません。不動産事業における「マネジメント」とは、そうした時代の変化やニーズに物件のあり方を今にアジャストし、経年劣化ではなく、そこで働く人々の環境にあわせた管理やニーズに応えた「経年優化（時間の経過とともに環境に馴染み、年月を経るたびに魅力を増していくこと）」を実現することなのです。

					.about01-middle__image(data-scroll-reveal)
						+picture({filename:'about-01-image-03'},{type:'svg',fallbackType:''},{alt:'開発・流通・マネジメント'},{classes:['']},{width:'900'},{height:'408'},{breakpoint:false},{lazyload:true},{retina:false})


		section.about01-footer
			
			h3.about01-footer__title(data-scroll-reveal)
				| ビジネスシーンから街づくりを。
				br
				| その根底にある
				br.active-sp
				| 「経年優化」という思想。

			.about01-footer__body(data-scroll-reveal)
				p
					| 三井不動産グループには、時を経るにつれてさらに価値を高めていく「経年優化」という思想があります。
				p
					| たとえば日本初の超高層ビルとして知られる「霞が関ビルディング」。1968年の竣工から50余年を経てもなお、霞が関エリアのシンボルとして親しまれているのも、「経年優化」の思想のもと、私たちがビルオーナーと手を携え、オフィスビルの価値を維持・発展させてきたからにほかなりません。
				p
					| そのほかにも、日本のビジネスの中心拠点、赤坂エリアの再開発によって生まれた「赤坂サカス 赤坂Bizタワー」や、江戸時代から金融と商業の街である日本橋の再開発の象徴ともいえる「日本橋三井タワー」。そして、国際ビジネスと芸術文化の最先端をいく街として長い歴史を持つ日比谷から、“未来志向の新たな体験や価値の創造”を世界に向けて発信する「東京ミッドタウン日比谷」といったオフィスビルの運営も、「経年優化」の思想を体現したものです。
				p
					| 私たち三井不動産ビルマネジメントは、三井不動産グループの中核企業として、「ビジネスシーンの未来」を提示するとともに、「経年優化」を進めていきます。


		section.about01-slider(data-scroll-reveal)
		
			.about01-slider__items

				button.about01-slider__prev(data-slider-prev)
					.about01-slider__prev-icon
				button.about01-slider__next(data-slider-next)
					.about01-slider__next-icon
				
				.swiper
					.swiper-wrapper
					
						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-01'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| 日本橋三井タワー

						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-02'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| 日本橋室町三井タワー

						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-03'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| コレド室町

						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-04'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| 新宿三井ビルディング

						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-05'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| 赤坂サカス 赤坂Bizタワー

						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-06'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| 飯田橋グランブルーム

						.about01-slider__item.swiper-slide
							.about01-slider__item-image
								+picture({filename:'about-01-slide-07'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'303'},{height:'222'},{breakpoint:true},{lazyload:false},{retina:true})
							h4.about01-slider__item-title
								| 霞が関ビルディング

		section.about-footer-links(data-scroll-reveal)
		
			.about-footer-links__header
				a(href=root_path + "about/").about-footer-links__back-to-index
					| ABOUT一覧へ戻る

			.about-footer-links__content
				include ../include/_about-index-content.pug