extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "about"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.sub-index-header
			h2.sub-index-header__title
				span.sub-index-header__title-en.sub-index-header__title-en--about
					svg(aria-label="ABOUT" viewBox="0 0 143 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-about')
				span.sub-index-header__title-jp
					| MFBMを知る

		.about-index

			.about-index__item
				a(href=root_path + "about/about01.html") 
					.about-index__item-content
						h3.about-index__item-title
							| MFBMの役割
						p.about-index__item-text
							| 三井不動産グループの中核企業として
							br
							| ビジネスシーンから未来を創造します。
						.about-index__item-icon
							svg(aria-label="→" viewBox="0 0 34 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
					.about-index__item-bg
						+picture({filename:'about-index-01'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'300'},{breakpoint:true},{lazyload:true},{retina:true})

			.about-index__item
				a(href=root_path + "about/about02.html") 
					.about-index__item-content
						h3.about-index__item-title
							| ブランドビジョン
						p.about-index__item-text
							| ビジネスシーンの明日を変えていく
						.about-index__item-icon
							svg(aria-label="→" viewBox="0 0 34 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
					.about-index__item-bg
						+picture({filename:'about-index-02'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'300'},{breakpoint:true},{lazyload:true},{retina:true})

			.about-index__item
				a(href=root_path + "about/about03.html") 
					.about-index__item-content
						h3.about-index__item-title
							| MFBMの実績
						p.about-index__item-text
							| 挑戦・変革を続け新たな価値を創造します。
						.about-index__item-icon
							svg(aria-label="→" viewBox="0 0 34 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
					.about-index__item-bg
						+picture({filename:'about-index-03'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'300'},{breakpoint:true},{lazyload:true},{retina:true})
