extends include/_layout.pug

block vars
	include include/_vars.pug
	- var key = "culture"
	- var page = pages[key]
	- var root_path = '';
	- var assets_path = 'assets/';


block contents

	main.main

		.culture-hero
			.culture-hero__bg-items
				//- .culture-hero__bg-item.culture-hero__bg-item--sample
				//- 	include include/svg/culture-data-sample.svg
						
				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-purple-01
					include include/svg/culture-fukidashi-purple.svg

				.culture-hero__bg-item.culture-hero__bg-item.culture-hero__bg-item--circle-graph-01
					include include/svg/culture-donuts-chart.svg

				.culture-hero__bg-item.culture-hero__bg-item--making2-01
					include include/svg/culture-making2.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-sky-blue-01
					include include/svg/culture-fukidashi-sky-blue.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-green-01
					include include/svg/culture-fukidashi-green.svg

				.culture-hero__bg-item.culture-hero__bg-item--vertical-bar-graph-01
					.culture-hero__bg-vertical-bar-graph
						.culture-hero__bg-vertical-bar-graph-item
						.culture-hero__bg-vertical-bar-graph-item
						.culture-hero__bg-vertical-bar-graph-item

				.culture-hero__bg-item.culture-hero__bg-item--bar-graph-01
					include include/svg/culture-bar-graph.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-deep-green-01
					include include/svg/culture-fukidashi-deep-green.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-purple-02
					include include/svg/culture-fukidashi-purple.svg

				.culture-hero__bg-item.culture-hero__bg-item.culture-hero__bg-item--circle-graph-02
					include include/svg/culture-donuts-chart.svg

				.culture-hero__bg-item.culture-hero__bg-item--annai-01
					include include/svg/culture-annai.svg

				.culture-hero__bg-item.culture-hero__bg-item.culture-hero__bg-item--circle-graph-03
					include include/svg/culture-donuts-chart.svg

				.culture-hero__bg-item.culture-hero__bg-item.culture-hero__bg-item--title
					+picture({filename:'culture-hero-title'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'595.7019'},{height:'144.4666'},{breakpoint:true},{lazyload:false},{retina:false})

				.culture-hero__bg-item.culture-hero__bg-item--drawing-01
					include include/svg/culture-drawing.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-pale-blue-01
					include include/svg/culture-fukidashi-pale-blue.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-sky-blue-02
					include include/svg/culture-fukidashi-sky-blue.svg

				.culture-hero__bg-item.culture-hero__bg-item--vertical-bar-graph-02
					.culture-hero__bg-vertical-bar-graph
						.culture-hero__bg-vertical-bar-graph-item
						.culture-hero__bg-vertical-bar-graph-item
						.culture-hero__bg-vertical-bar-graph-item

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-blue-01
					include include/svg/culture-fukidashi-blue.svg

				.culture-hero__bg-item.culture-hero__bg-item.culture-hero__bg-item--otedama
					include include/svg/culture-otedama.svg

				.culture-hero__bg-item.culture-hero__bg-item--making-01
					include include/svg/culture-making.svg
					
				.culture-hero__bg-item.culture-hero__bg-item--bar-graph-02
					include include/svg/culture-bar-graph.svg

				.culture-hero__bg-item.culture-hero__bg-item--fukidashi-pale-green-01
					include include/svg/culture-fukidashi-pale-green.svg

				.culture-hero__bg-item.culture-hero__bg-item--making2-01
					include include/svg/culture-making2.svg

				.culture-hero__bg-item.culture-hero__bg-item--vertical-bar-graph-03
					.culture-hero__bg-vertical-bar-graph
						.culture-hero__bg-vertical-bar-graph-item
						.culture-hero__bg-vertical-bar-graph-item
						.culture-hero__bg-vertical-bar-graph-item

				.culture-hero__bg-item.culture-hero__bg-item--bar-graph-03
					include include/svg/culture-bar-graph.svg

				.culture-hero__bg-item.culture-hero__bg-item--walking-01
					include include/svg/culture-walking.svg


		section.culture-lead

			.culture-lead__body(data-scroll-reveal)
				p
					| MFBMでは、個人の強みを活かしながらも、個では達成できない目標をチームで成し遂げるため、
					br.active-tb-pc
					| 旧来の発想にとらわれない多様な働き方の整備に力を入れています。
					br
					| ビジネスシーンに新たな価値を提供し続ける、MFBMのカルチャーの一端を社員が思う「当社の良いところ」と共に紹介します。

		.culture-sections

			section.culture-sections__item(data-scroll-reveal-group)
				.culture-sections__item-text-wrapper(data-scroll-reveal-group-item)
					.culture-sections__item-header
						p.culture-sections__item-header-label(data-scroll-reveal-group-item)
							span.culture-sections__item-header-label-icon
								+picture({filename:'loupe-red-brown'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'49'},{height:'44'},{breakpoint:false},{lazyload:true},{retina:false})
							span.culture-sections__item-header-label-text
								| 会社の雰囲気について
						.culture-sections__item-text-header-image.culture-sections__item-text-header-image--illust01(data-scroll-reveal-group-item)
							include include/svg/culture-contents/table-man.svg
					h2.culture-sections__item-title(data-scroll-reveal-group-item)
						| 人間関係がフラットで、
						br
						| 自分の意見を率直に言いやすい職場。
					p.culture-sections__item-body(data-scroll-reveal-group-item)
						| MFBMは、人間関係がフラットで自分の意見を率直に言いやすい職場です。社内のコミュニケーションが活発なので、社員同士の交流が深まり、意見交換や情報共有がスムーズになる。こうした組織風土が新たなビジネスのアイデアを生み出します。
				.culture-sections__item-images
					.culture-sections__item-image-01(data-scroll-reveal)
						+picture({filename:'culture-section01-image-01'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'274'},{height:'208'},{breakpoint:true},{lazyload:true},{retina:true})
					.culture-sections__item-image-02(data-scroll-reveal)
						+picture({filename:'culture-section01-image-02'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'396'},{height:'283'},{breakpoint:true},{lazyload:true},{retina:true})
				.culture-sections__item-voice
					h3.culture-sections__item-voice-title(data-scroll-reveal)
						svg(aria-label="REAL VOICE" viewBox="0 0 270 32")
							use(xlink:href=assets_path + image_dir + 'sprite.svg#futura-pt-real-voice')
					.culture-sections__item-voices-items

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-02
								include include/svg/culture-contents/hart-man.svg

						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message(data-scroll-reveal)
							| みんなフレンドリー
							br
							| なんだか楽しい会社
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message(data-scroll-reveal)
							| 至るところから
							br
							| 笑い声や話し声が聞こえる

						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message.culture-sections__item-voices-item--balloon-message-large.culture-sections__item-voices-item--balloon-message-right(data-scroll-reveal)
							| 新しい試みを応援してくれる
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message.culture-sections__item-voices-item--message-small(data-scroll-reveal)
							| 考え方が柔軟で変化に強い

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-03
								include include/svg/culture-contents/building-man.svg
	
						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message(data-scroll-reveal)
							| 変わることを恐れない
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-04
								include include/svg/culture-contents/hello-man.svg

			section.culture-sections__item(data-scroll-reveal-group)
				.culture-sections__item-text-wrapper(data-scroll-reveal-group-item)
					.culture-sections__item-header
						p.culture-sections__item-header-label(data-scroll-reveal-group-item)
							span.culture-sections__item-header-label-icon
								+picture({filename:'loupe-red-brown'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'49'},{height:'44'},{breakpoint:false},{lazyload:true},{retina:false})
							span.culture-sections__item-header-label-text
								| 働く環境について
						.culture-sections__item-text-header-image(data-scroll-reveal-group-item)
							include include/svg/culture-contents/pc-man.svg
					h2.culture-sections__item-title(data-scroll-reveal-group-item)
						| 働き方改革を提案する、
						br
						| MFBMならではの
						br
						| 自慢のワークスペース。
					p.culture-sections__item-body(data-scroll-reveal-group-item)
						| 日本橋への本社移転に合わせて自分たちの働き方を改めて見つめ直したMFBM。社内でプロジェクトチームを結成しアイデアを出し合った結果、本社8階の本格的なカフェやフロアごとに異なるテーマの執務エリアなど、クリエイティブな仕掛けが盛りだくさんに。働き方改革を提案するMFBMならではの自慢のオフィスです。
					a.culture-sections__item-button(href="https://www.mfbm.co.jp/officetour/index.html" target="_blank" rel="noopener noreferrer" data-scroll-reveal-group-item)
						span.culture-sections__item-button-text
							| オフィスビル移転プロジェクトに
							br.active-sp
							| ついて詳しくはこちら
						svg(aria-label="" viewBox="0 0 39 32").culture-sections__item-button-icon
							use(xlink:href=assets_path + image_dir + 'sprite.svg#external')
				.culture-sections__item-images
					.culture-sections__item-image-01(data-scroll-reveal)
						+picture({filename:'culture-section02-image-01'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'274'},{height:'208'},{breakpoint:true},{lazyload:true},{retina:true})
					.culture-sections__item-image-02(data-scroll-reveal)
						+picture({filename:'culture-section02-image-02'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'396'},{height:'283'},{breakpoint:true},{lazyload:true},{retina:true})
				.culture-sections__item-voice
					h3.culture-sections__item-voice-title(data-scroll-reveal)
						svg(aria-label="REAL VOICE" viewBox="0 0 270 32")
							use(xlink:href=assets_path + image_dir + 'sprite.svg#futura-pt-real-voice')
					.culture-sections__item-voices-items

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-06
								include include/svg/culture-contents/music-man.svg

						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message.culture-sections__item-voices-item--balloon-message-large(data-scroll-reveal)
							| コミュニケーションを活性化する
							br
							| オープンスペース
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message(data-scroll-reveal)
							| 植物が多い
							br
							| デスクやチェアもキレイ

						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message.culture-sections__item-voices-item--balloon-message-right(data-scroll-reveal)
							| 食堂がある
							br
							| メニューも豊富
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message.culture-sections__item-voices-item--message-small(data-scroll-reveal)
							| 居心地の良いカフェ
							br
							| 本社8階の「Cafe8」

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-07
								include include/svg/culture-contents/two-cups.svg
	
						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message.culture-sections__item-voices-item--balloon-message-right(data-scroll-reveal)
							| 考え抜かれた導線設計
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-08
								include include/svg/culture-contents/sitting-man.svg

							

			section.culture-sections__item(data-scroll-reveal-group)
				.culture-sections__item-text-wrapper(data-scroll-reveal-group-item)
					.culture-sections__item-header
						p.culture-sections__item-header-label(data-scroll-reveal-group-item)
							span.culture-sections__item-header-label-icon
								+picture({filename:'loupe-red-brown'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'49'},{height:'44'},{breakpoint:false},{lazyload:true},{retina:false})
							span.culture-sections__item-header-label-text
								| 福利厚生について
						.culture-sections__item-text-header-image(data-scroll-reveal-group-item)
							include include/svg/culture-contents/family.svg
					h2.culture-sections__item-title(data-scroll-reveal-group-item)
						| 充実の福利厚生で
						br
						| 新しい「ビジネス&ライフ」を提供。
					p.culture-sections__item-body(data-scroll-reveal-group-item)
						| 人々の働き方・生き方を充実させることを目指す私たちMFBMは、自社の社員にも同様にいきいきと働いてもらいたいと考えます。社員が健康で充実した生活を送れるよう、ワークとライフの両面からアプローチする、さまざまな福利厚生メニューを設けています。
				.culture-sections__item-images
					.culture-sections__item-image-01(data-scroll-reveal)
						+picture({filename:'culture-section03-image-01'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'274'},{height:'208'},{breakpoint:true},{lazyload:true},{retina:true})
					.culture-sections__item-image-02(data-scroll-reveal)
						+picture({filename:'culture-section03-image-02'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'396'},{height:'283'},{breakpoint:true},{lazyload:true},{retina:true})
				.culture-sections__item-voice
					h3.culture-sections__item-voice-title(data-scroll-reveal)
						svg(aria-label="REAL VOICE" viewBox="0 0 270 32")
							use(xlink:href=assets_path + image_dir + 'sprite.svg#futura-pt-real-voice')
					.culture-sections__item-voices-items

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-10
								include include/svg/culture-contents/clock-man.svg

						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message(data-scroll-reveal)
							| 社員同士をつなぐサークル活動
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message(data-scroll-reveal)
							| 時間や休暇に融通が効く

						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message.culture-sections__item-voices-item--balloon-message-right.culture-sections__item-voices-item--balloon-message-large(data-scroll-reveal)
							| 働き方をデザインできる
							br
							| フレックス制度
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message.culture-sections__item-voices-item--message-small(data-scroll-reveal)
							| 育児のバックアップが豊富で働きやすい

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-11
								include include/svg/culture-contents/ball-game.svg
	
						.culture-sections__item-voices-item.culture-sections__item-voices-item--balloon-message(data-scroll-reveal)
							| ワークスタイリングが利用できる
							.culture-sections__item-voices-item-balloon-message-colons
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
								svg(aria-label="" viewBox="0 0 41 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#double-colon')
							.culture-sections__item-voices-item-balloon-message-leg
								svg(aria-label="" viewBox="0 0 47 32")
									use(xlink:href=assets_path + image_dir + 'sprite.svg#balloon-leg')

						.culture-sections__item-voices-item.culture-sections__item-voices-item--illust(data-scroll-reveal)
							.culture-illust-12
								include include/svg/culture-contents/hat-man.svg

						.culture-sections__item-voices-item.culture-sections__item-voices-item--message(data-scroll-reveal)
							| リモートワークと
							br
							| オフィスワークの併用