extends include/_layout.pug

block vars
	include include/_vars.pug
	- var key = "top"
	- var page = pages[key]
	- var root_path = '';
	- var assets_path = 'assets/';


block contents

	main.main

		.top-sections

			section.top-sections__item#top-section-01
				.top-slide-01
					section.top-slide-01__section-01
						h1.top-slide-01__section-01-title
							+picture({filename:'top-section-01-title-01'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'350'},{height:'107'},{breakpoint:false},{lazyload:true},{retina:false})
						a.top-slide-01__section-01-5minute(href="https://vimeo.com/763741619/0d034fdaf4" target="_blank" rel="noopener noreferrer")
							+picture({filename:'top-5-minute'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'186'},{height:'186'},{breakpoint:false},{lazyload:true},{retina:false})
							+picture({filename:'top-5-minute-invert'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'186'},{height:'186'},{breakpoint:false},{lazyload:true},{retina:false})
						.top-slide-01__section-01-scroll
							p.top-slide-01__section-01-scroll-text
								|	SCROLL
					.top-slide-01__bg
						+picture({filename:'top-section-01-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:true},{lazyload:true},{retina:true})

			.top-sections__navigation
				a(href="#top-section-01").top-sections__navigation-link.--active
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| TOP
				a(href="#top-section-02").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| ABOUT
				a(href="#top-section-03").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| BUSINESS
				a(href="#top-section-04").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| JOB
				a(href="#top-section-04").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| JOB
				a(href="#top-section-05").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| PROJECT
				a(href="#top-section-06").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| CULTURE
				a(href="#top-section-07").top-sections__navigation-link
					span.top-sections__navigation-link-icon
					span.top-sections__navigation-link-text
						| FOOTER
