extends include/_layout.pug

block vars
	include include/_vars.pug
	- var key = "movie"
	- var page = pages[key]
	- var root_path = '';
	- var assets_path = 'assets/';


block contents

	main.main

		.movie-hero
			h2.movie-hero__title
				span.movie-hero__title-en
					svg(aria-label="MOVIE" viewBox="0 0 143 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-movie')
				span.movie-hero__title-jp
					| 動画で知る
			.movie-hero__bg
				+picture({filename:'movie-hero-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'524'},{breakpoint:true},{lazyload:false},{retina:true})

		section.movie-lead

			.movie-lead__body
				p
					| 現在、MFBMでは職場の風土や手掛ける
					br.active-sp
					| プロジェクト等をより知っていただくために、
					br
					| 動画コンテンツを配信しています。

		section.movie-list

			.movie-list__content
				button.movie-list__item(data-modal-trigger="movie01")
					.movie-list__item-thumbnail
						span.movie-list__item-time
							| 03:43
						svg(aria-label="MOVIE" viewBox="0 0 32 32")
							use(xlink:href=assets_path + image_dir + 'sprite.svg#movie-play')
						+picture({filename:'movie-01-thumbnail'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'300'},{height:'178'},{breakpoint:true},{lazyload:true},{retina:true})
					.movie-list__item-text
						p.movie-list__item-label 	
							| MOVIE 01
						h3.movie-list__item-title
							| 三井不動産ビルマネジメント紹介動画
						.movie-list__item-body
							p
								| 当社三井不動産ビルマネジメントのビルマネジメント事業、ビジネスソリューション事業、そしてエリアマネジメントについての紹介動画となります。


			//- .modal.modal--movie01
			//- 	.modal__inner

			.modal-movie(data-modal-content="movie01")
				.modal-movie__inner
					.modal-movie__content(data-modal-close-exclusion)
						button.modal-movie__close.modal-close
							.modal-movie__close-icon
						video(playsinline poster!=assets_path + image_dir + "movie-01-thumbnail.png" controls preload)
							source(src!=assets_path + image_dir + "movie-01.mp4", type="video/mp4")