/* ep
   ========================================================================== */

.ep {
	// &::after {
	// 	content: "";
	// 	position: fixed;
	// 	z-index: 1;
	// 	left: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 25rem;
	// 	pointer-events: none;
	// 	background: linear-gradient(
	// 		0deg,
	// 		rgba(0, 0, 0, 0.4) 0%,
	// 		rgba(0, 0, 0, 0) 100%
	// 	);
	// }
	// section {
	// 	position: relative;
	// 	z-index: 1;
	// }
}

.ep__01 {
	// position: fixed;
	// width: 100%;
	// height: 100vh;
}

.ep__section {
	height: 100vh;
	height: 100dvh !important;
	&.ep__section--sp {
		display: none;
		@include mq-down() {
			display: block;
		}
	}
	html:not(.touch-device) &.--linkable {
		&:hover {
			cursor: pointer;
		}
	}
	&#prologue2 {
		--top-scroll-bar: auto;
		-ms-overflow-style: var(--top-scroll-bar);
		scrollbar-width: var(--top-scroll-bar);
		&::-webkit-scrollbar {
			display: var(--top-scroll-bar);
		}
		overscroll-behavior-y: none;
	}
	&#topFooter {
		--top-scroll-bar: auto;
		-ms-overflow-style: var(--top-scroll-bar);
		scrollbar-width: var(--top-scroll-bar);
		&::-webkit-scrollbar {
			display: var(--top-scroll-bar);
		}
		overscroll-behavior-y: none;
	}
}

.ep__01-01 {
}

.ep__01-02-bg {
	--top-slide-01-filter-value: 30px;
	position: fixed;
	inset: calc(var(--top-slide-01-filter-value) * -1);
	width: calc(100% + (var(--top-slide-01-filter-value) * 2));
	height: calc(100vh + (var(--top-slide-01-filter-value) * 2));
	z-index: -1;
	will-change: filter;
	pointer-events: none;
	// filter: blur(var(--top-slide-01-filter-value)); // 開発用
	img,
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 112, 169, 0.25);
		// background: linear-gradient(
		// 	90deg,
		// 	rgba(0, 112, 169, 1) 0%,
		// 	rgba(255, 255, 255, 0) 58%
		// );
		mix-blend-mode: multiply;
	}
}

.ep__navigation {
	position: fixed;
	top: calc(var(--header-height) + 2.2rem);
	left: calc((var(--header-height) - var(--header-menu-button-width)) / 2);
	z-index: 99;
	@include mq-down() {
		display: none;
	}
}

.ep__navigation-link {
	width: fit-content;
	position: relative;
	display: block;
	font-family: var(--font-serif);
	font-weight: 500;
	color: var(--key-color-black) !important;
	line-height: 1;
	// pointer-events: none;
	font-size: 1.8rem;
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: -0.65em;
		z-index: -1;
		transform: translateY(calc(-50% + 0.165em));
		width: calc(0.65em + 100% + 0.65em);
		height: calc(0.2em + 100% + 0.2em);
		border-radius: 4em;
		background-color: white;
		opacity: 0;
		transition: opacity 0.125s ease-out;
	}
	&:hover::after {
		opacity: 1;
	}

	& + & {
		margin-top: 1.3rem;
	}
}

.ep__navigation-link-icon {
	position: relative;
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	background-color: #80879d;
	// border: 0.1rem solid currentColor;
	border-radius: 50%;
	transition: background-color 0.125s ease-out, transform 0.125s ease-out;
	vertical-align: 0.075em;
	pointer-events: auto;
	&::before {
		content: "";
		position: absolute;
		inset: -0.75em;
	}
	.ep__navigation-link:hover &,
	.ep__navigation-link.--active & {
		background-color: currentColor;
		transform: scale(calc(13 / 7));
	}
}

.ep__navigation-link-text {
	display: inline-block;
	transform: translateY(0.125em);
	padding-left: 0.5em;
	opacity: 0;
	visibility: hidden;
	pointer-events: auto;
	transition: opacity 0.125s ease-out, visibility 0.125s ease-out;
	.ep__navigation-link:hover & {
		opacity: 1;
		visibility: visible;
	}
}

.ep__section-label {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 98;
	width: 25rem;
	height: 25rem;
	background-color: #c81212;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	color: white;
	@include mq-down() {
		display: none;
	}
}

.ep__section-label__links {
	position: relative;
	width: 100%;
	height: 100%;
}

.ep__section-label__links-item {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.85s ease-out, visibility 0.85s ease-out;
	opacity: 0;
	visibility: hidden;
	&.--active {
		opacity: 1;
		visibility: visible;
	}
}

.ep__section-label__link {
	position: relative;
	display: block;
	height: 100%;
	transition: opacity 0.25s ease-out;
	svg {
		position: absolute;
		bottom: 7.8rem;
		right: 8rem;
		transform: translateX(50%);
		fill: currentColor;
	}
	&[href*="about"] svg {
		width: 8.24rem;
	}
	&[href*="business"] svg {
		width: 11.2rem;
	}
	&[href*="job"] svg {
		width: 4rem;
	}
	&[href*="project"] svg {
		width: 10.3rem;
	}
	&[href*="person"] svg {
		width: 9.2rem;
	}
	&[href*="culture"] svg {
		width: 10.9rem;
	}
	&:hover {
		opacity: 0.85;
	}
}

.ep__section-label__click {
	position: absolute;
	bottom: 3.6rem;
	right: 3.1rem;
	width: 9.7rem;
	line-height: 0.5em;
	text-align: center;
	svg {
		fill: currentColor;
		width: 100%;
	}
}

.ep__section-label__click-text {
	text-align: center;
}

.ep__section-label__click-icon {
	position: relative;
	display: block;
	height: 1.4rem;
}

.ep__section-label__click-icon-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color: currentColor;
}

.ep__section-label__click-icon-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: currentColor;
}

.ep__section-label__click-icon-arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: currentColor;
	transform: rotate(-40deg);
	transform-origin: bottom right;
}

.ep__section-scroll {
	--top-slide-01-section-01-scroll-bottom-margin: 5.7rem;
	position: fixed;
	z-index: 99;
	left: 50%;
	bottom: var(--top-slide-01-section-01-scroll-bottom-margin);
	transform: translateX(-50%);
	font-family: var(--font-serif);
	color: white;
	// mix-blend-mode: difference;
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: calc(var(--top-slide-01-section-01-scroll-bottom-margin) * -1);
		width: 1px;
		height: var(--top-slide-01-section-01-scroll-bottom-margin);
		background-color: currentColor;
	}
}

.ep__section-scroll-text {
	margin-bottom: 0.25em;
}

.ep__bottom-gradient {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 98;
	width: 100%;
	height: 25rem;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8660057773109244) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	opacity: 0.4;
	pointer-events: none;
	// mix-blend-mode: multiply;
}
