/* ep
   ========================================================================== */

.ep {
	// &::after {
	// 	content: "";
	// 	position: fixed;
	// 	z-index: 1;
	// 	left: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 25rem;
	// 	pointer-events: none;
	// 	background: linear-gradient(
	// 		0deg,
	// 		rgba(0, 0, 0, 0.4) 0%,
	// 		rgba(0, 0, 0, 0) 100%
	// 	);
	// }
	// section {
	// 	position: relative;
	// 	z-index: 1;
	// }
	--top-slide-01-section-01-scroll-bottom-margin: 5.7rem;
	--ep__section-label-height: 13rem;
	--ep__section-label-bottom-margin: calc(
		var(--top-slide-01-section-01-scroll-bottom-margin) + 2.6em
	);
}

.ep__section {
	height: 100vh;
	height: 100dvh;
	will-change: opacity;
	// &.ep__section--sp {
	// 	display: none;
	// 	@include mq-down() {
	// 		display: block;
	// 	}
	// }
	html:not(.touch-device) &.--linkable {
		&:hover {
			cursor: pointer;
		}
	}
	&#prologue2 {
		-ms-overflow-style: var(--top-scroll-bar);
		scrollbar-width: var(--top-scroll-bar);
		&::-webkit-scrollbar {
			display: var(--top-scroll-bar);
		}
		overscroll-behavior-y: none;
	}
	&#topFooter {
		-ms-overflow-style: var(--top-scroll-bar);
		scrollbar-width: var(--top-scroll-bar);
		&::-webkit-scrollbar {
			display: var(--top-scroll-bar);
		}
	}
}

.ep__01-02-bg {
	--top-slide-01-filter-value: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// inset: calc(var(--top-slide-01-filter-value) * -1);
	width: calc(100% + (var(--top-slide-01-filter-value) * 2));
	height: calc(100vh + (var(--top-slide-01-filter-value) * 2));
	/*
	safari14以下でcalcがあるからか、フォールバックを上書きしてしまうので出し分け
	*/
	@supports (height: 100dvh) {
		height: calc(100dvh + (var(--top-slide-01-filter-value) * 2));
	}

	z-index: -1; // js側でz-indexを1に書き換える
	will-change: filter;
	pointer-events: none;
	// filter: blur(var(--top-slide-01-filter-value)); // 開発用
	img,
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 112, 169, 0.25);
		// background: linear-gradient(
		// 	90deg,
		// 	rgba(0, 112, 169, 1) 0%,
		// 	rgba(255, 255, 255, 0) 58%
		// );
		mix-blend-mode: multiply;
	}
}

.ep__navigation {
	position: fixed;
	top: calc(var(--header-height) + 2.3rem);
	// left: calc((var(--header-height) - var(--header-menu-button-width)) / 2);
	left: 0;
	z-index: 99;
	@include mq-down() {
		display: none;
	}
}

.ep__navigation-link {
	// width: fit-content;
	position: relative;
	display: flex;
	align-items: center;
	font-weight: 500;
	color: var(--key-color-black) !important;
	// line-height: 2rem;
	height: 2.2rem;
	// pointer-events: none;
	font-size: 1.6rem;
	padding-right: 0.75em;
	padding-left: calc(
		(var(--header-height) - var(--header-menu-button-width)) / 2
	);
	background-color: white;
	border-radius: 0 1.1rem 1.1rem 0;
	transition: background-color 0.25s ease-out;
	&:hover {
		background-color: #cccfd8;
	}
	&.--active {
		pointer-events: none;
	}
	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 50%;
	// 	left: -0.65em;
	// 	z-index: -1;
	// 	transform: translateY(calc(-50% + 0.165em));
	// 	width: calc(0.65em + 100% + 0.65em);
	// 	height: calc(0.2em + 100% + 0.2em);
	// 	border-radius: 4em;
	// 	background-color: white;
	// 	opacity: 0;
	// 	transition: opacity 0.125s ease-out;
	// }
	// &:hover::after {
	// 	opacity: 1;
	// }

	& + & {
		// border-top: 1px solid currentColor;
		margin-top: 0.5rem;
	}
}

.ep__navigation-link-icon {
	position: relative;
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	background-color: #80879d;
	// border: 0.1rem solid currentColor;
	border-radius: 50%;
	// transition: background-color 0.125s ease-out, transform 0.125s ease-out;
	transition: background-color 0.25s ease-out;
	// vertical-align: 0.075em;
	// vertical-align: 0.2em;
	pointer-events: auto;
	body.--pointer-events-none & {
		pointer-events: none;
	}
	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	inset: -0.75em;
	// }

	.ep__navigation-link.--active & {
		background-color: #c81212;
		// transform: scale(calc(13 / 7));
	}
	.ep__navigation-link:hover & {
		background-color: currentColor;
	}
}

.ep__navigation-link-text {
	display: inline-block;
	// transform: translateY(0.125em);
	padding-left: 0.5em;
	// vertical-align: 0.25em;
	// opacity: 0;
	// visibility: hidden;
	// pointer-events: auto;
	// transition: opacity 0.125s ease-out, visibility 0.125s ease-out;
	// .ep__navigation-link:hover & {
	// 	opacity: 1;
	// 	visibility: visible;
	// }
}

.ep__section-label {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 98;
	width: 25rem;
	height: 25rem;
	background-color: #c81212;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	color: white;
	// will-change: opacity;
	transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
	@include mq-down() {
		z-index: 99;
		// display: none;
		background-color: rgba(200, 18, 18, 0.95);
		width: 100%;
		height: 13rem;
		clip-path: none;
		bottom: var(--ep__section-label-bottom-margin);
		&::after {
			content: "";
			position: absolute;
			left: 0;
			z-index: -1;
			bottom: 1px;
			width: 100%;
			height: calc(var(--ep__section-label-bottom-margin) + 1px);
			transform: translateY(100%);
			background-color: rgba(0, 15, 60, 0.75);
		}
	}
	&.--disable {
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
	}
}

.ep__section-label__links {
	position: relative;
	width: 100%;
	height: 100%;
}

.ep__section-label__links-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// transition: opacity 0.85s ease-out, visibility 0.85s ease-out;
	opacity: 0;
	visibility: hidden;
	&.--active {
		opacity: 1;
		visibility: visible;
	}
}

.ep__section-label__link {
	position: relative;
	display: block;
	height: 100%;
	transition: opacity 0.25s ease-out;
	svg {
		position: absolute;
		bottom: 7.8rem;
		right: 8rem;
		transform: translateX(50%);
		fill: currentColor;
		@include mq-down() {
			top: 50%;
			left: 50%;
			right: auto;
			bottom: auto;
			transform: translate(-50%, -50%);
		}
	}
	&[href*="about"] svg {
		width: 8.24rem;
		@include mq-down() {
			width: 20.6rem;
		}
	}
	&[href*="business"] svg {
		width: 11.2rem;
		@include mq-down() {
			width: 27.8rem;
		}
	}
	&[href*="job"] svg {
		width: 4rem;
		@include mq-down() {
			width: 10rem;
		}
	}
	&[href*="project"] svg {
		width: 10.3rem;
		@include mq-down() {
			width: 25.7rem;
		}
	}
	&[href*="person"] svg {
		width: 9.2rem;
		@include mq-down() {
			width: 22.9rem;
		}
	}
	&[href*="culture"] svg {
		width: 10.9rem;
		@include mq-down() {
			width: 27.3rem;
		}
	}
	&[href*="recruit"] svg {
		width: 10.9rem;
		@include mq-down() {
			width: 27.3rem;
		}
	}
	&:hover {
		opacity: 0.85;
	}
}

.ep__section-label__click {
	position: absolute;
	bottom: 3.6rem;
	right: 3.1rem;
	width: 9.7rem;
	line-height: 0.5em;
	text-align: center;
	pointer-events: none;
	@include mq-down() {
		width: 10.3rem;
		top: 50%;
		right: 6rem;
		bottom: auto;
		transform: translateY(-75%);
		line-height: 0;
	}

	svg {
		fill: currentColor;
		width: 100%;
	}
}

.ep__section-label__click-text {
	text-align: center;
	@include mq-down() {
		display: none;
	}
}

.ep__section-label__click-icon {
	position: relative;
	display: block;
	height: 1.4rem;
	@include mq-down() {
		height: 2.6rem;
	}
}

.ep__section-label__click-icon-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	will-change: transform;
	@include mq-down() {
		height: 0.2rem;
	}
}

.ep__section-label__click-icon-arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: currentColor;
	transform: rotate(-40deg);
	transform-origin: bottom right;
	@include mq-down() {
		top: auto;
		bottom: 0.2rem;
		// width: 10.3rem;
		width: 0.2rem;
	}
}

.ep__section-scroll {
	position: fixed;
	z-index: 99;
	left: 50%;
	bottom: var(--top-slide-01-section-01-scroll-bottom-margin);
	transform: translateX(-50%);
	color: white;
	will-change: opacity;
	// mix-blend-mode: difference;
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: calc(var(--top-slide-01-section-01-scroll-bottom-margin) * -1);
		width: 1px;
		height: var(--top-slide-01-section-01-scroll-bottom-margin);
		background-color: currentColor;
	}
}

.ep__section-scroll-text {
	margin-bottom: 0.25em;
}

.ep__bottom-gradient {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 98;
	width: 100%;
	height: 25rem;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8660057773109244) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	opacity: 0.4;
	pointer-events: none;
	will-change: opacity;
	// mix-blend-mode: multiply;
	@include mq-down() {
		height: calc(
			var(--ep__section-label-bottom-margin) + var(--ep__section-label-height)
		);
	}
}

.ep__top-section-5minute {
	position: fixed;
	right: 5.8rem;
	width: 18.6rem;
	height: 18.6rem;
	bottom: 4.4rem;
	z-index: 99;
	@include mq-down() {
		width: 21rem;
		bottom: 12rem;
	}
	.ep__top-section-5minute-image {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		transition: opacity 0.25s ease-out;
		&.ep__top-section-5minute-image--invert {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	&:hover .ep__top-section-5minute-image {
		opacity: 0;
	}
	&:hover .ep__top-section-5minute-image.ep__top-section-5minute-image--invert {
		opacity: 1;
	}
}
