/* .mfbm-field
   ========================================================================== */

.mfbm-field {
	position: relative;
	height: 100%; // 100vh調整
	background-color: #ebebeb;
	overflow: hidden;
}

.mfbm-field__map {
	position: absolute;
	top: 50%;
	left: 4rem;
	width: calc((1527 / 1400) * 100vw);
	transform: translateY(calc(-50% - 2vh));
	@include mq-down() {
		top: calc(var(--header-height) + 2rem); // 初期
		// top: calc(var(--header-height) + 31rem);
		left: -32.2rem;
		width: 185.6rem;
		transform: none;
	}
}

.mfbm-field__map-inner {
	will-change: transform;
}

.mfbm-field__map-items {
	--containerWidth: 1526.9049;
	--containerHeight: 1049.7572;
	position: relative;
	// transform: translateX(calc(50vw - 13rem)); // 開発用
	aspect-ratio: var(--containerWidth) / var(--containerHeight);
	// transform: translateX(56.91821rem);
	@supports not (aspect-ratio: var(--containerWidth) / var(--containerHeight)) {
		padding-top: calc((var(--containerHeight) / var(--containerWidth)) * 100%);
		height: 0;
	}

	img {
		position: absolute;
		display: block;
		&[src*="top-section-03-base"] {
			left: containerRatio(0, var(--containerWidth));
			top: containerRatio(0, var(--containerHeight));
			width: 100%;
		}
		&[src*="top-section-03-park-grass"] {
			left: containerRatio(414.9522, var(--containerWidth));
			top: containerRatio(403.2286, var(--containerHeight));
			width: containerRatio(314.6831, var(--containerWidth));
		}
		&[src*="top-section-03-park-building"] {
			will-change: transform;
			left: containerRatio(439.3578, var(--containerWidth));
			top: containerRatio(362.9284, var(--containerHeight));
			width: containerRatio(192.28941, var(--containerWidth));
		}
		&[src*="top-section-03-park-people"] {
			left: containerRatio(528.286, var(--containerWidth));
			top: containerRatio(449.1924, var(--containerHeight));
			width: containerRatio(244.9394, var(--containerWidth));
		}
		&[src*="top-section-03-park-over-layer"] {
			left: containerRatio(269.2678, var(--containerWidth));
			top: containerRatio(449.6971, var(--containerHeight));
			width: containerRatio(399.3015, var(--containerWidth));
		}
		&[src*="top-section-03-building-02"] {
			will-change: transform;
			left: containerRatio(783.507, var(--containerWidth));
			top: containerRatio(476.4312, var(--containerHeight));
			width: containerRatio(95.3642, var(--containerWidth));
		}
		&[src*="top-section-03-building-02-over-layer"] {
			left: containerRatio(804.7551, var(--containerWidth));
			top: containerRatio(523.9317, var(--containerHeight));
			width: containerRatio(316.7965, var(--containerWidth));
		}
		&[src*="top-section-03-building-03"] {
			will-change: transform;
			left: containerRatio(337.5755, var(--containerWidth));
			top: containerRatio(729.4276, var(--containerHeight));
			width: containerRatio(259.0139, var(--containerWidth));
		}
		&[src*="top-section-03-building-03-over-layer"] {
			left: containerRatio(325.7369, var(--containerWidth));
			top: containerRatio(750.5525, var(--containerHeight));
			width: containerRatio(392.6983, var(--containerWidth));
		}
	}
}

.mfbm-field__bg {
	position: absolute;
	inset: 0;
	z-index: -1;
}

.mfbm-field__lead {
	position: absolute;
	z-index: 1;
	width: 40.3rem;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	@include mq-down() {
		inset: 0;
		width: 100%;
		height: 100%;
		transform: none;
	}
}

.mfbm-field__lead-title {
	width: 100%;
	will-change: transform;
	@include mq-down() {
		margin-top: calc(var(--header-height) + 5.2rem);
		width: 53.2rem;
		margin-right: auto;
		margin-left: auto;
	}
}

.mfbm-field__lead-body {
	margin-top: 7rem;
	text-align: justify;
	line-height: calc(36 / 15);
	font-family: var(--font-serif);
	font-size: 1.3rem;
	font-weight: 500;
	color: #000f3c;
	will-change: transform;
	@include mq-down() {
		visibility: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 0;
		padding-right: var(--page-gutter);
		padding-left: var(--page-gutter);
		padding-bottom: 10rem;
		position: absolute;
		inset: 0;
		z-index: 9999;
		background-color: rgba(255, 255, 255, 0.95);
		font-size: 2.8rem;
		line-height: calc(64 / 28);
		color: var(--key-color-black);
		letter-spacing: 0.02em;
	}
	p {
		& + p {
			margin-top: 2.5em;
		}
	}
	// background-color: rgba(255, 0, 0, 0.5); // 開発用
}
