/* .top-job
   ========================================================================== */

.top-job {
	position: relative;
	height: 100vh;
	background-color: white;
}

.top-job__peoples-wrapper {
	height: 100%;
}
.top-job__peoples {
	display: grid;
	height: 50%;
	&:nth-of-type(1) {
		grid-template-columns: 233fr 233fr 317fr 150fr 467fr;
		grid-template-rows: 1fr 1fr;
	}
	&:nth-of-type(2) {
		grid-template-columns: 467fr 150fr 83fr 233fr 150fr 317fr;
		grid-template-rows: 1fr 1fr;
	}
}

.top-job__peoples-item {
	overflow: hidden;
	.top-job__peoples:nth-of-type(1) & {
		&:nth-of-type(1) {
			grid-column: 1 / span 2;
		}
		&:nth-of-type(4) {
			grid-row: 1 / span 2;
			grid-column: 5;
		}
		&:nth-of-type(7) {
			grid-column: 3 / span 2;
		}
	}
	.top-job__peoples:nth-of-type(2) & {
		&:nth-of-type(1) {
			grid-row: 1 / span 2;
			grid-column: 1;
		}
		&:nth-of-type(2) {
			grid-column: 2 / span 2;
		}
		&:nth-of-type(7) {
			grid-column: 3 / span 2;
		}
		&:nth-of-type(8) {
			grid-column: 5 / span 2;
		}
	}
	img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
		will-change: transform;
	}
}

.top-job__lead {
	position: absolute;
	width: calc(467 / 1400 * 100%);
	height: 100%;
	top: 0;
	right: 0;
	background-color: var(--key-color03);
	color: white;
	visibility: hidden;
	z-index: 1;
}

.top-job__lead-content {
	width: 35.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 1vh));
}

.top-job__lead-title {
	width: 100%;
	will-change: transform;
}

.top-job__lead-body {
	margin-top: 5rem;
	text-align: justify;
	line-height: calc(32 / 14);
	font-family: var(--font-serif);
	font-size: 1.3rem;
	font-weight: 500;
	will-change: transform;
	p {
		& + p {
			margin-top: 2.5em;
		}
	}
	// background-color: rgba(255, 0, 0, 0.5); // 開発用
}
