/* .top-cover
   ========================================================================== */

.top-cover {
	position: fixed;
	width: 100vw;
	height: 100%;
	background-color: white;
	z-index: 999999;
	opacity: 1;
	visibility: visible;
	&.--disable {
		animation-name: fadeOut;
		animation-fill-mode: forwards;
		animation-duration: 1.5s;
		animation-timing-function: ease-out;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.top-cover__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35rem;
	z-index: 1;
	line-height: 0;
	opacity: 0;
	animation-delay: 0.35s;
	animation-name: fadeIn;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	@include mq-down() {
		width: 43.2rem;
	}
}
