/* Header
   ========================================================================== */

.top-section {
	position: relative;
	height: 100%;
}

.top-section__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35rem;
	@include mq-down() {
		width: 46.7rem;
	}
}
