/* .top-epilogue
   ========================================================================== */

.top-epilogue {
	position: relative;
	height: 100vh;
	background-color: var(--key-color-blue);
	overflow: hidden;
}

.top-epilogue__lead {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.top-epilogue__lead-title {
	width: 37.9rem;
	margin-right: auto;
	margin-left: auto;
	@include mq-down() {
		width: 40rem;
	}
}

.top-epilogue__lead-body {
	margin-top: 7.2rem;
	text-align: center;
	line-height: calc(34 / 15);
	font-family: var(--font-serif);
	font-weight: 500;
	color: #000f3c;
	@include mq-down() {
		ine-height: calc(57 / 26);
		white-space: nowrap;
	}
	p + p {
		margin-top: 2.25em;
	}
}

.top-epilogue__bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.top-epilogue__scroll {
	--top-slide-01-section-01-scroll-bottom-margin: 5.7rem;
	position: absolute;
	left: 50%;
	bottom: var(--top-slide-01-section-01-scroll-bottom-margin);
	z-index: 1;
	transform: translateX(-50%);
	font-family: var(--font-serif);
	color: white;
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: calc(var(--top-slide-01-section-01-scroll-bottom-margin) * -1);
		width: 1px;
		height: var(--top-slide-01-section-01-scroll-bottom-margin);
		background-color: currentColor;
	}
}

.top-epilogue__section-01-scroll-text {
	margin-bottom: 0.25em;
}
