/* .top-lead
   ========================================================================== */

.top-lead {
	position: relative;
	padding-top: 6.8rem;
	padding-bottom: 6.8rem;
	@include mq-down() {
		padding-top: 18.6rem;
		padding-left: var(--page-gutter);
		padding-bottom: 18.6rem;
		padding-right: var(--page-gutter);
	}
}

.top-lead__body {
	margin-left: calc(50% + 7.8rem);
	line-height: calc(36 / 15);
	font-family: var(--font-serif);
	color: white;
	@include mq-down() {
		margin-top: 9.6rem;
		margin-left: 0;
		text-align: justify;
	}
	p {
		width: 43.6rem;
		@include mq-down() {
			width: 100%;
		}
		& + p {
			margin-top: 2.5em;
		}
	}
	// background-color: rgba(255, 0, 0, 0.5); // 開発用
}

.top-lead__title {
	position: absolute;
	top: calc(50vh + (var(--header-height)));
	left: calc(50% - 2.6rem);
	transform: translate(-100%, -100%);
	width: 53.4rem;
	@include mq-down() {
		position: static;
		transform: none;
	}
	// img {
	// 	width: 53.4rem;
	// 	display: block;
	// 	margin-left: auto;
	// }
}

// .top-section__lead-title {
// 	position: fixed;
// 	top: 50%
// 	left:
// }
