/* .faq
   ========================================================================== */

.faq-section__q {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1em;
	padding-top: 2rem;
	padding-right: calc(3.2rem + var(--faq-list-plus-size) + 2em);
	padding-bottom: 2rem;
	padding-left: var(--faq-list-gutter);
	background-color: var(--key-color02);
	@include mq-down() {
		padding-right: calc(1.6rem + var(--faq-list-plus-size) + 1.5em);
	}
	&:hover {
		cursor: pointer;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 3.2rem;
		display: block;
		width: var(--faq-list-plus-size);
		height: 2px;
		background-color: var(--key-color01);
		transition: transform 0.25s ease-out;
		@include mq-down() {
			right: 1.6rem;
		}
	}
	&::after {
		transform: translateY(-50%) rotate(90deg);
		transition: opacity 0.25s ease-out, transform 0.25s ease-out;
	}
	&.--active::after {
		opacity: 0;
		transform: translateY(-50%);
	}
	html:not(.touch-device) &:hover::before {
		transform: translateY(-50%) rotate(90deg);
	}
	html:not(.touch-device) &.--active:hover::before {
		transform: translateY(-50%) rotate(0deg);
	}
	html:not(.touch-device) &:hover::after {
		transform: translateY(-50%) rotate(180deg);
	}
	.faq-section__a + & {
		margin-top: 4.4rem;
		@include mq-down() {
			margin-top: 5.6rem;
		}
	}
}

.faq-section__q-icon {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
	background-color: var(--key-color01);
	border-radius: 50%;
	line-height: 4.8rem;
	font-size: 2.4rem;
	font-weight: 700;
	color: white;
	@include mq-down() {
		width: 4.2rem;
		height: 4.2rem;
		line-height: 4.2rem;
		font-size: 2rem;
	}
}

.faq-section__q-icon-inner {
	display: inline-block;
	transform: translateY(-5%);
}

.faq-section__q-text {
	font-weight: 700;
	@include mq-down() {
		line-height: 1.47;
		font-size: 2.2rem;
	}
}

.faq-section__a-inner {
	display: flex;
	align-items: center;
	gap: 1em;
	padding-top: 2.2rem;
	padding-right: 3.2rem;
	padding-left: var(--faq-list-gutter);
	@include mq-down() {
		align-items: flex-start;
		padding-right: 1.6rem;
		padding-top: 1.25em;
	}
}

.faq-section__a-icon {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
	margin-top: 0.175em;
	background-color: var(--key-color02);
	border-radius: 50%;
	line-height: 4.8rem;
	font-size: 2.4rem;
	font-weight: 700;
	color: var(--key-color01);
	@include mq-down() {
		width: 4.2rem;
		height: 4.2rem;
		line-height: 4.2rem;
		font-size: 2rem;
	}
}

.faq-section__a-icon-inner {
	display: inline-block;
	transform: translateY(-5%);
}

.faq-section__a-text {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2;
	@include mq-down() {
		margin-top: 0.125em;
		line-height: 1.9;
		font-size: 2rem;
		text-align: justify;
		html[lang="en"] & {
			text-align: left;
		}
	}
	a {
		color: #f70032;
		text-decoration: underline;
		text-underline-offset: 0.125em;
	}
}
