/* .recruit-faq-anchor
   ========================================================================== */

.recruit-faq-anchor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: var(--content-width);
	max-width: 687px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 12.5rem;
	grid-gap: 4.4rem 3.4rem;

	@include mq-down() {
		padding: 0 var(--page-gutter);
		grid-gap: 3rem 0;
		margin-bottom: 14.4rem;
	}

	&__item {
		width: calc(50% - 2.2rem);
		@include mq-down() {
			width: 100%;
		}
	}

	&__link {
		position: relative;
		display: flex;
		background-color: var(--key-color-blue);
		color: #fff;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 5.5rem;
		border-radius: calc(5.5rem / 2);
		transition: opacity 0.25s ease-in-out;

		&:visited,
		&:active,
		&:focus {
			color: #fff;
		}

		&:hover {
			opacity: 0.75;
		}

		@include mq-down() {
			height: 9rem;
			border-radius: 4.5rem;
		}
	}

	&__text {
		font-size: 1.8rem;
		font-family: var(--font-sans);
		@include mq-down() {
			font-size: 2.6rem;
		}
	}

	&__icon {
		position: absolute;
		display: block;
		width: 2.3rem;
		height: 2.3rem;
		right: 1.7rem;
		background-color: #fff;
		border-radius: 50%;
		@include mq-down() {
			width: 4.8rem;
			height: 4.8rem;
		}
	}

	&__chev {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -37%) scale(-1);
		width: 1.3rem;
		fill: var(--key-color-blue);
		@include mq-down() {
			transform: translate(-50%, -45%) scale(-1);
			width: 2.5rem;
		}
	}
}
