/* .recruit-inquiry-links
   ========================================================================== */

.recruit-inquiry-links {
	margin-bottom: 7rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 70rem;
	gap: 3rem;

	@include mq-down() {
		max-width: none;
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: calc(50% - 1.5rem);
		width: 100%;
		height: 8.5rem;
		transition: opacity 0.25s ease-in-out;
		fill: #fff;
		&:hover {
			opacity: 0.85;
		}

		@include mq-down() {
			height: 10rem;
		}
	}
	&__link--entry {
		background-color: var(--key-color-red);
	}
	&__link--mypage {
		background-color: var(--key-color-blue);
	}
	&__link-text {
		.recruit-inquiry-links__link.recruit-inquiry-links__link--mypage & {
			width: 11rem;

			@include mq-down() {
				width: 12.4rem;
			}
		}
		.recruit-inquiry-links__link.recruit-inquiry-links__link--entry & {
			width: 8.5rem;
			@include mq-down() {
				width: 9.5rem;
			}
		}
	}
	&__link-icon-pc {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 3.8rem;
		width: 2.6rem;
		transition: transform 0.25s ease-out;
		html:not(.touch-device) a:hover & {
			transform: translate(0.5rem, -50%);
		}
		@include mq-down() {
			display: none;
		}
	}
	&__link-icon-sp {
		display: none;
		@include mq-down() {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 2.8rem;
			width: 3.3rem;
		}
	}
	&__link--image {
		border: 1px solid #c6cfd4;
		&:hover {
			opacity: 0.7;
		}
		img[src*="recruit-link-recnavi"] {
			width: 27.5rem;
			@include mq-down() {
				width: 26.7rem;
			}
		}
		img[src*="recruit-link-mynavi"] {
			width: 25.3rem;
			@include mq-down() {
				width: 24.4rem;
			}
		}
	}
}

.recruit-inquiry-info {
	text-align: center;
	font-family: var(--font-sans-yakuhan-all);
	font-size: 1.3rem;
	font-weight: 500;
	line-height: calc(29 / 13);
	@include mq-down() {
		line-height: calc(46 / 24);

		font-size: 2.4rem;
	}
}
