extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "recruit01"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.recruit-header
			h2.recruit-header__title
				span.recruit-header__title-en
					svg(aria-label="RECRUIT" viewBox="0 0 190 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-recruit')
				span.recruit-header__title-jp
					| 研修教育制度

		.recruit-content.recruit-lead(data-scroll-reveal-group)
			p.recruit-lead__head(data-scroll-reveal-group-item)
				| 社員一人ひとりが、<br class="active-sp">能動的に自らの能力を高め、<br>
				| ステップアップできる<br class="active-sp">サポート体制を整えています。
			p.recruit-lead__body(data-scroll-reveal-group-item)
				| MFBMでは、常に「自ら考え、自ら行動する」姿勢や能力、そして専門的な技術、知識が求められます。入社してから一歩一歩着実にそれらの能力を身に付けていくためには、「経験」と「学習」をバランスよく積むことが大切です。そのために当社ではそれぞれの等級や職位に応じて求められる能力基準を設定し、それに合わせた研修プログラムを構築しています。
		
		.recruit-content.recruit-induction(data-scroll-reveal)
			+picture({filename:'recruit-induction'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'503'},{height:'128'},{breakpoint:true},{lazyload:true},{retina:true})
			.recruit-induction__links
				a.recruit-induction-link.recruit-induction-link--1(href="#induction01")
					| 新入社員<br class="active-sp">研修
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')
				a.recruit-induction-link.recruit-induction-link--2(href="#induction02")
					| トレーナー<br class="active-sp">制度
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')
				a.recruit-induction-link.recruit-induction-link--3(href="#induction03")
					| フォロー<br class="active-sp">アップ研修
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')
				a.recruit-induction-link.recruit-induction-link--4(href="#induction04")
					| 階層別<br class="active-sp">研修
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')
				a.recruit-induction-link.recruit-induction-link--5(href="#induction05")
					| MFBM<br class="active-sp">アカデミー
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')
				a.recruit-induction-link.recruit-induction-link--6(href="#induction06")
					| 資格取得<br class="active-sp">支援
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')
				a.recruit-induction-link.recruit-induction-link--7(href="#induction07")
					| 選択式研修
					i.recruit-induction-link__icon
						svg(aria-label="↓" viewBox="0 0 56 32").recruit-faq-anchor__chev 
							use(xlink:href=assets_path + image_dir + 'sprite.svg#chevron')

		.recruit-content.recruit-frame(data-scroll-reveal)
			.recruit-frame__group(data-scroll-reveal)
				h2.recruit-frame__title 
					| 入社1年目の研修プログラム
				dl.recruit-frame-table(id="induction01")
					dt.recruit-frame-table__th
						| 新入社員研修
					dd.recruit-frame-table__td
						h3 働く上での基礎を築く
						| 入社後約4週間、社会人としてのビジネスマナーから、当社社員としてのスタンスおよび企業理念、業務内容、事業のしくみなど、社会人としての第一歩を踏み出すために必要な素養について学びます。
						
				dl.recruit-frame-table(id="induction02")
					dt.recruit-frame-table__th
						| トレーナー制度（OJT）
					dd.recruit-frame-table__td
						h3 先輩社員から仕事を学ぶ
						| 配属先の先輩社員がトレーナーとなり、マンツーマンでOJTを行います。配属先業務を確実に習得するためのプログラムを元に、先輩社員と共に業務を進めることで一つひとつ習得していきます。また、業務だけでなく当社環境に馴染むこともOJTの大事な要素です。

				dl.recruit-frame-table(id="induction03")
					dt.recruit-frame-table__th
						| フォローアップ研修
					dd.recruit-frame-table__td
						h3 さらなる活躍への準備を整える
						| 入社後9〜10か月後に実施します。業務の整理や同期との情報交換を通じて1年を振り返り、仕事をするうえでの自身の特性や課題点を明確にします。また、当社の社員として必要な「成長力」を身につけ、自身の課題を克服し更なるステップアップを目指します。

			.recruit-frame__group(data-scroll-reveal)
				h2.recruit-frame__title 
					| その他の研修プログラム
				dl.recruit-frame-table(id="induction04")
					dt.recruit-frame-table__th
						| 階層別研修
					dd.recruit-frame-table__td
						h3 一歩一歩着実に成長する
						| 三井不動産ビルマネジメントでは、社員の成長を促し「個と組織の強化、進化」を目的に、対話を重視した研修を行っています。とくに階層別研修においては、職種や等級別の役割を再確認することに加え、各階層におけるリーダーシップやマネジメント力の強化、ブランドビジョンの共有、現場と連携した社員の能力向上、コンプライアンスリスクに対する意識の醸成など、階層や入社年次に合わせたプログラムを用意しています。
						
				dl.recruit-frame-table(id="induction05")
					dt.recruit-frame-table__th
						| MFBMアカデミー
					dd.recruit-frame-table__td
						h3 実践的な力を身につける
						| 『MFBMアカデミー』は、当社に関する基礎知識の習得に特化した学びの場です。年間で約150回開催され、社内外から豊富な経験と知識を持つスペシャリストを招聘し、MFBMの仕事に即した実践的なプログラムを提供しています。

				dl.recruit-frame-table(id="induction06")
					dt.recruit-frame-table__th
						| 資格取得支援
					dd.recruit-frame-table__td
						h3 資格を取得しプロを目指す
						| プロフェッショナルを育てるため、職種ごとに会社が指定する「宅地建物取引士」など各種資格の取得費用を会社が支援します。事前に受講申請を行い承認を得て合格すれば、講習料や受験料、試験会場までの交通費、書類送付にかかる郵送費、8,000円までのテキスト代を会社が負担します。

				dl.recruit-frame-table(id="induction07")
					dt.recruit-frame-table__th
						| 選択式研修
					dd.recruit-frame-table__td
						h3 個々の課題に応じて学ぶ
						| 社員の向学心に応えるため、選択式の研修プログラムを広く社員に開放しています。講座内容は、マネジメントスキル、専門スキル、ベーシックスキルなどの分野にわかれ、全150講座のなかから、職種や階層、現在抱える課題に応じて講座を選択することが可能です。

			.recruit-frame__group(data-scroll-reveal)
				h2.recruit-frame__title 
					| ほかにもこんな仕組みを用意しています
				dl.recruit-frame-table
					dt.recruit-frame-table__th
						span.recruit-frame-table__adj 
							| ジョブローテーション
					dd.recruit-frame-table__td
						h3 
							| ジョブローテーションの意義は、<br>
							| 業務を多面的に捉え、
							br.active-sp
							| 挑戦し続ける心を育むことにあります。
						| 当社では、オフィスビル経営のプロフェッショナルを育成するため、3年から5年のスパンで部署を異動するジョブローテーション制を取り入れています。異動先はその都度、各自の希望を聞き、中長期的なキャリアプランや適性、事業戦略を加味して判断しますが、大事なのは現状に安住せず、多様化する顧客ニーズに応えるプロを育てることにあると考えています。私たちはジョブローテーションを通じて、業務を多面的に捉える力を養い、難易度の高いフィールドに挑戦し続ける心を育んでいるのです。


		.recruit-content.recruit-return-index(data-scroll-reveal)
			a(href=root_path + "recruit/")
				| RECRUIT一覧へ戻る

		include ../include/_recruit-index-content.pug
