extends ../include/_layout.pug

block vars
	include ../include/_vars.pug
	- var key = "recruit"
	- var page = pages[key]
	- var root_path = '../';
	- var assets_path = '../assets/';


block contents

	main.main

		.sub-index-header
			h2.sub-index-header__title
				span.sub-index-header__title-en.sub-index-header__title-en--recruit
					svg(aria-label="RECRUIT" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-recruit')
				span.sub-index-header__title-jp
					| 採用を知る

		.recruit-index
			ul.recruit-index__list
				li.recruit-index__list-item
					a.recruit-index__link.recruit-index__link--01(href=root_path + "recruit/recruit01.html")
						span 研修教育制度
							svg(aria-label="→" viewBox="0 0 34 32").recruit-index__arrow
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
				li.recruit-index__list-item
					a.recruit-index__link.recruit-index__link--02(href=root_path + "recruit/recruit02.html")
						span FAQ
							svg(aria-label="→" viewBox="0 0 34 32").recruit-index__arrow
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
				li.recruit-index__list-item
					a.recruit-index__link.recruit-index__link--03(href=root_path + "recruit/recruit03.html")
						span 募集要項
							svg(aria-label="→" viewBox="0 0 34 32").recruit-index__arrow
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
				li.recruit-index__list-item
					a.recruit-index__link.recruit-index__link--04(href=root_path + "recruit/recruit04.html")
						span お問い合わせ
							svg(aria-label="→" viewBox="0 0 34 32").recruit-index__arrow
								use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-big')
