/* .about01-slider__item-title
   ========================================================================== */

.about01-slider__items {
	position: relative;
	width: 136rem;
	margin-right: auto;
	margin-left: auto;
	@include mq-down(pc-lg) {
		width: 100%;
	}
	@include mq-up() {
		.swiper-slide {
			transition: transform 0.6s;
			&:not(.swiper-slide-active) {
				transform: scale(0.66) !important;
			}
		}
	}
}

// .about01-slider__item {
// 	width: 53rem !important;
// }

.about01-slider__item-title {
	margin-top: 1em;
	text-align: center;
	font-size: 1.8rem;
	font-family: var(--font-sans);
	@include mq-down() {
		font-size: 2.4rem;
	}
	.swiper-slide-active & {
		// margin-top: 0.75em;
		font-size: 1.6rem;
		@include mq-down() {
			font-size: inherit;
		}
	}
}

.about01-slider__prev,
.about01-slider__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	color: var(--key-color-black);
	@include mq-down() {
		top: calc(50% - 4rem);
	}
	&:before {
		content: "";
		position: absolute;
		inset: -1em;
	}
}

.about01-slider__prev-icon,
.about01-slider__next-icon {
	width: 3.2rem;
	height: 3.2rem;
	border-left: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	@include mq-down() {
		width: 2.8rem;
		height: 2.8rem;
	}
}

.about01-slider__prev {
	left: 5.4rem;
	transform: translate(-100%, -50%);
	@include mq-down(pc-lg) {
		left: 6.8rem;
	}
	@include mq-down() {
		left: var(--page-gutter);
		transform: translate(-25%, -50%);
	}
}

.about01-slider__next {
	right: 5.4rem;
	transform: translate(100%, -50%);
	@include mq-down(pc-lg) {
		right: 6.8rem;
	}
	@include mq-down() {
		right: var(--page-gutter);
		transform: translate(25%, -50%);
	}
}

.about01-slider__prev-icon {
	transform: rotate(45deg);
}

.about01-slider__next-icon {
	transform: rotate(-135deg);
}
